In [1]:
import re
import json
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
resp = requests.get("https://sciencedata.dk/public/082a018b1f2fd125ef4907f01ab2e2cf/")
soup = BeautifulSoup(resp.content, "html.parser")
address = []
for item in soup.find_all("a"):
    href = item.get('href')
    if href and '.json' in href:
        address.append(href)
address[:10]

['/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P-FF_python_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P-FF_python_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P-FF_python_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P-FF_python_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P-FF_python_3.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P-FF_python_3.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P_api_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P_api_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P_api_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P_api_2.json']

In [3]:
len(address)

3082

In [4]:
address = list(set(address))
len(address)

1541

In [5]:
address[:10]

['/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0200P_python_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F22B0273P_http_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0215P_python_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/test_site_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0247P_gis_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0233P_site_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0276P_http_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0265P_abm_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0372P_site_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0200P_gis_1.json']

In [6]:
[a for a in address if "277" in a]

['/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_nlp_3.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_pdf_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_pdf_3.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_site_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_nlp_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_nlp_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_nlp_4.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_pdf_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_site_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_http_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_gis_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_nlp_5.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_http_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_gis_1.json']

In [8]:
[a for a in address if "F23B0277P" in a]

['/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_nlp_3.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_pdf_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_pdf_3.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_site_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_nlp_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_nlp_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_nlp_4.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_pdf_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_site_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_http_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_gis_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_nlp_5.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_http_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0277P_gis_1.json']

In [7]:
# dávala:
# F1HUMBP2 -> F23B0267P (Preislerová)

In [8]:
data = []
for item in address:
    resp = requests.get('https://sciencedata.dk' + str(item))
    data.append(json.loads(resp.text))

In [9]:
data_df = pd.DataFrame(data)

In [10]:
data_df.to_json("../data/data_df.json")

In [11]:
#data_df = pd.read_json("../data/data_df.json")

In [12]:
data_df.head(5)

,user,ntb,time,arg1,arg2,n
0,F22B0199P,python,Tue Feb 27 14:15:38 2024,"{'klic1': 'aktualizovaná hodnota', 'klic2': 'h...",None,2.0
1,F23B0082K,http,Sat Apr 20 08:35:57 2024,http2,None,2.0
2,F23B0357P,gis,Mon Mar 11 14:48:00 2024,darkred,None,1.0
3,F21B0035K,api,Fri May 17 17:07:43 2024,{'items': [{'commentary': '(B): AE 1983: Z. 3/...,None,1.0
4,F23B0366P,site,Wed May 29 09:43:55 2024,darkgreen,None,1.0

In [13]:
#luiza = "F23B0037K"
#data_df[data_df["user"].str.contains(luiza)]

In [14]:
def clean_user(user):
    try:
        return re.search("F\d+\w\d+[PK]?", user.replace("O", "0"), re.IGNORECASE).group()
    except: 
        print(user)
data_df["osCislo"] = data_df["user"].apply(clean_user)
data_df.head(5)

test
test
test
test
test
test
test
test
F1HUMBP2
F1HUMBP2
F1HUMBP1
test
test
test
test
test
test
test
test
F1HUMBP2
FB23B0044K
test
F1HUM BP2
F1HUMBP2
test
test
dsdss
val1 or val2
F1HUMBP1
test
LIST - uspořádaný seznam prvků DICTIONARY (dict) - neuspořádaný seznam párů prvků
test
test
test
F1HUMBP2
22B0030K
test
test
test
test
test
F23
FB21B0035K-FF
F1HUMBP2
F1HUMBP2
F1HUMBP1
test
test
test
F1HUMBP2
pepík
test
100335092
test
test

<>:3: SyntaxWarning: invalid escape sequence '\d'
<>:3: SyntaxWarning: invalid escape sequence '\d'
/var/folders/57/tg7c_g894t5c2z3swkqzds5h0000gn/T/ipykernel_62847/1144791038.py:3: SyntaxWarning: invalid escape sequence '\d'
  return re.search("F\d+\w\d+[PK]?", user.replace("O", "0"), re.IGNORECASE).group()

,user,ntb,time,arg1,arg2,n,osCislo
0,F22B0199P,python,Tue Feb 27 14:15:38 2024,"{'klic1': 'aktualizovaná hodnota', 'klic2': 'h...",None,2.0,F22B0199P
1,F23B0082K,http,Sat Apr 20 08:35:57 2024,http2,None,2.0,F23B0082K
2,F23B0357P,gis,Mon Mar 11 14:48:00 2024,darkred,None,1.0,F23B0357P
3,F21B0035K,api,Fri May 17 17:07:43 2024,{'items': [{'commentary': '(B): AE 1983: Z. 3/...,None,1.0,F21B0035K
4,F23B0366P,site,Wed May 29 09:43:55 2024,darkgreen,None,1.0,F23B0366P

In [15]:
KDDHB_students = pd.read_csv("../data/KDDHB_students.csv", sep=";", encoding='cp1250')
KDDHB_students = dict(zip(KDDHB_students["osCislo"], KDDHB_students["prijmeni"]))
KDDHB_students

{'F22B0199P': 'BOHÁČKOVÁ',
 'F21B0005K': 'BOŠKOVÁ',
 'F22B0118P': 'BUCHEŇOVÁ',
 'F22B0201P': 'COUFALOVÁ',
 'F21B0164P': 'DĚDEČKOVÁ',
 'F22B0211P': 'GRUNDFESTOVÁ',
 'F22B0030K': 'HAVELOVÁ',
 'F21B0035K': 'HLAVÍNOVÁ',
 'F21B0022K': 'KELLNEROVÁ',
 'F21B0028K': 'KUBEŠOVÁ',
 'F22B0185P': 'KUBINCOVÁ',
 'F22B0235P': 'LAPKA',
 'F22B0198P': 'LE',
 'F21B0033K': 'NOVÁ',
 'F20B0539P': 'NOVÁK',
 'F22B0248P': 'PÁNKOVÁ',
 'F21B0040K': 'REMEŠOVÁ',
 'F22B0267P': 'ŠKAMPOVÁ',
 'F22B0273P': 'ŠLEFR',
 'F21B0051K': 'VOLOPICH',
 'F21B0206P': 'WISLOCKÁ'}

In [16]:
UDHB_students = pd.read_csv("../data/UDHB_students.csv", sep=";", encoding='cp1250')
UDHB_students = UDHB_students[UDHB_students["stav"]=="S"]
len(UDHB_students)

124

In [17]:
UDHB_students = dict(zip(UDHB_students["osCislo"], UDHB_students["prijmeni"]))
UDHB_students

{'F23B0250P': 'AKRMAN',
 'F23B0197P': 'BAŽANTOVÁ',
 'F23B0198P': 'BEČVÁŘOVÁ',
 'F23B0019K': 'BELANOVÁ',
 'F23B0199P': 'BERAN',
 'F23B0071K': 'BIELIK',
 'F23B0200P': 'BLÁHOVÁ',
 'F23B0044K': 'BLAŽENKOVÁ',
 'F23B0204P': 'BRADOVÁ',
 'F23B0206P': 'BUBNOVÁ',
 'F23B0302P': 'BUDNIKOV',
 'F23B0024K': 'ČEJKOVÁ',
 'F23B0062P': 'ČERVENKOVÁ',
 'F23B0210P': 'ČEŘOVSKÁ',
 'F23B0212P': 'DOKTOROVÁ',
 'F23B0060K': 'DORICOVÁ',
 'F23B0215P': 'DRESSLEROVÁ',
 'F23B0216P': 'DRNKOVÁ',
 'F23B0253P': 'DROZDOVÁ',
 'F23B0254P': 'DUSILOVÁ',
 'F23B0218P': 'FALDYNOVÁ',
 'F22B0133P': 'FILIPSKA',
 'F23B0219P': 'FOUSOVÁ',
 'F23B0260P': 'FRIŠOVÁ',
 'F23B0220P': 'FRIŠOVÁ',
 'F23B0261P': 'GABRIELOVÁ',
 'F23B0027K': 'GEYEROVÁ',
 'F23B0262P': 'GLACOVÁ',
 'F23B0061K': 'GONOSOVÁ',
 'F23B0263P': 'HAAG',
 'F23B0264P': 'HACKROVÁ',
 'F23B0224P': 'HANČINOVÁ',
 'F23B0266P': 'HANELOVÁ',
 'F23B0031K': 'HUDEC',
 'F23B0233P': 'HŮLOVÁ',
 'F23B0235P': 'CHVOJKA',
 'F23B0033K': 'JANOUCHOVÁ',
 'F23B0275P': 'KAHRAMAN',
 'F23B0238P': 'KALINOVÁ',
 'F23B0276P': 'KALSER',
 'F23B0064K': 'KARAJOŠOVÁ',
 'F23B0277P': 'KARGER',
 'F23B0035K': 'KITTLEROVÁ',
 'F23B0241P': 'KOUBOVÁ',
 'F23B0242P': 'KOVANDOVÁ',
 'F23B0243P': 'KRÁLOVÁ',
 'F23B0065K': 'KRČKOVÁ',
 'F23B0246P': 'KRIEGER',
 'F23B0036K': 'KRUTINOVÁ',
 'F23B0247P': 'KŠÍROVÁ',
 'F23B0251P': 'KUZMYCH',
 'F23B0037K': 'KUZNIETSOVA',
 'F23B0038K': 'KVĚTOŇOVÁ',
 'F23B0290P': 'LANGOVÁ',
 'F23B0039K': 'LÍPOVÁ',
 'F23B0068K': 'MAHÁKOVÁ',
 'F23B0255P': 'MALINA',
 'F23B0297P': 'MAŠKOVÁ',
 'F23B0257P': 'MATĚJKA',
 'F23B0042K': 'MATERNOVÁ',
 'F23B0307P': 'MAYEROVÁ',
 'F23B0258P': 'MEDVEC',
 'F23B0315P': 'MLČÁKOVÁ',
 'F23B0316P': 'MOCOVÁ',
 'F23B0319P': 'MOLNÁROVÁ',
 'F23B0322P': 'ODVÁRKA',
 'F23B0323P': 'PAIDAROVÁ',
 'F23B0324P': 'PATKOVÁ',
 'F23B0055P': 'PAVLOVÁ',
 'F23B0326P': 'PECUŠOVÁ',
 'F23B0265P': 'POLÁK',
 'F23B0043K': 'POTOCKÝ',
 'F23B0267P': 'PRAJZLEROVÁ',
 'F23B0072K': 'PROCHÁZKA',
 'F23B0334P': 'PRYSTAJOVYCH',
 'F23B0073K': 'PUCHROVÁ',
 'F23B0074K': 'PUSTOVYI',
 'F23B0045K': 'RAKAŠOVÁ',
 'F23B0269P': 'RATAJOVÁ',
 'F23B0046K': 'ROUS',
 'F23B0272P': 'RŮČKOVÁ',
 'F23B0049K': 'RYSOVÁ',
 'F23B0335P': 'ŘANDOVÁ',
 'F23B0348P': 'SMILENOV',
 'F23B0349P': 'SMOLÍKOVÁ',
 'F23B0357P': 'SMUTNÁ',
 'F23B0358P': 'STANĚK',
 'F23B0360P': 'STANĚK',
 'F23B0051K': 'STRAKOVÁ GERHARTOVÁ',
 'F23B0278P': 'STUDNIČKOVÁ',
 'F23B0052K': 'SÜSSMILCHOVÁ',
 'F23B0279P': 'SVATKOVÁ',
 'F23B0053K': 'SVOBODOVÁ',
 'F23B0280P': 'SÝKORA',
 'F23B0362P': 'ŠIC',
 'F23B0283P': 'ŠIMONOVÁ',
 'F23B0054K': 'ŠIMONOVSKÝ',
 'F23B0082K': 'ŠINDELÁŘOVÁ',
 'F23B0363P': 'ŠKACHOVÁ',
 'F23B0055K': 'ŠLAJSOVÁ',
 'F23B0286P': 'ŠOBROVÁ',
 'F23B0366P': 'ŠORALOVÁ',
 'F23B0287P': 'ŠPAČKOVÁ',
 'F23B0367P': 'ŠPIMROVÁ',
 'F23B0369P': 'ŠTRUNC',
 'F23B0371P': 'ŠTÝS',
 'F23B0288P': 'ŠVESTÁKOVÁ',
 'F23B0289P': 'TARABOVÁ',
 'F23B0084K': 'TEICHMANNOVÁ',
 'F23B0096P': 'TOMAN',
 'F23B0295P': 'VALTA',
 'F23B0057K': 'VANĚK',
 'F23B0298P': 'VAŠATOVÁ',
 'F23B0336P': 'VENTUROVÁ',
 'F23B0372P': 'VÍTŮ',
 'F23B0300P': 'VOKOUNOVÁ',
 'F23B0376P': 'VOLDŘICHOVÁ',
 'F23B0301P': 'WINNOVÁ',
 'F23B0303P': 'ZAJÍCOVÁ',
 'F23B0304P': 'ZEDÍNKOVÁ',
 'F23B0377P': 'ZELENKOVÁ',
 'F23B0305P': 'ZEMANOVÁ',
 'F23B0381P': 'ZEMENOVÁ',
 'F23B0384P': 'ZEZULOVÁ'}

In [18]:
data_df["kddhb_students"] = data_df["osCislo"].apply(lambda x: KDDHB_students[x] if x in KDDHB_students.keys() else None)

In [19]:
data_df["udhb_students"] = data_df["osCislo"].apply(lambda x: UDHB_students[x] if x in UDHB_students.keys() else None)

In [20]:
data_df[(data_df["udhb_students"].notnull()) & (data_df["ntb"]=="nlp")]

,user,ntb,time,arg1,arg2,n,osCislo,kddhb_students,udhb_students
17,F23B0357P,nlp,Fri May 3 10:37:32 2024,"[pojem, duch, prof, akt, spravedlnost, filosof...",None,2.0,F23B0357P,None,SMUTNÁ
20,F23B0335P,nlp,Mon Apr 15 18:04:21 2024,https://archiv.janpatocka.cz/items/show/2662,None,1.0,F23B0335P,None,ŘANDOVÁ
25,F23B0266P,nlp,Mon Apr 8 12:00:02 2024,"[čas, časový, mít, minulost, přítomnost, moci,...",None,2.0,F23B0266P,None,HANELOVÁ
39,F23B0264P,nlp,Mon Apr 8 11:22:48 2024,https://archiv.janpatocka.cz/items/show/2655,None,1.0,F23B0264P,None,HACKROVÁ
50,F23B0046K,nlp,Sat Apr 20 10:16:57 2024,"[pevný, těleso, elementární, vztah, lze, původ...",None,2.0,F23B0046K,None,ROUS
...,...,...,...,...,...,...,...,...,...
1446,F23B0369P,nlp,Mon Apr 8 13:46:04 2024,https://archiv.janpatocka.cz/items/show/308,None,1.0,F23B0369P,None,ŠTRUNC
1451,F23B0250P,nlp,Mon Apr 8 11:55:41 2024,"[čas, časový, mít, minulost, přítomnost, moci,...",None,2.0,F23B0250P,None,AKRMAN
1454,F23B0198P,nlp,Thu May 9 09:50:17 2024,"[pojem, duch, prof, akt, spravedlnost, filosof...",None,3.0,F23B0198P,None,BEČVÁŘOVÁ
1465,F23B0241P,nlp,Mon May 6 13:45:11 2024,"[pojem, duch, prof, akt, spravedlnost, filosof...",None,4.0,F23B0241P,None,KOUBOVÁ
1470,F23B0084K,nlp,Thu May 23 08:16:30 2024,https://archiv.janpatocka.cz/items/show/306,None,4.0,F23B0084K,None,TEICHMANNOVÁ

In [21]:
len(data_df["user"].unique().tolist())

187

In [22]:
data_df[(data_df["udhb_students"].notnull()) & (data_df["user"].str.contains("K"))].groupby("ntb").size()

ntb
api        4
gis       71
http      47
nlp       48
pdf       48
python     8
site      49
dtype: int64

In [23]:
data_df[(data_df["kddhb_students"].notnull()) & (data_df["user"].str.contains("K"))].groupby("ntb").size()

ntb
api       12
gis        5
http      15
nlp       14
pdf       14
python     6
tei       14
dtype: int64

In [24]:
data_df[(data_df["kddhb_students"].notnull())]

,user,ntb,time,arg1,arg2,n,osCislo,kddhb_students,udhb_students
0,F22B0199P,python,Tue Feb 27 14:15:38 2024,"{'klic1': 'aktualizovaná hodnota', 'klic2': 'h...",None,2.0,F22B0199P,BOHÁČKOVÁ,None
3,F21B0035K,api,Fri May 17 17:07:43 2024,{'items': [{'commentary': '(B): AE 1983: Z. 3/...,None,1.0,F21B0035K,HLAVÍNOVÁ,None
9,F22B0198P,gis,Tue Mar 19 13:47:58 2024,darkred,None,1.0,F22B0198P,LE,None
14,F21B0005K,http,Sat May 4 11:46:07 2024,https://www.phil.muni.cz/fil/scf/komplet/machj...,None,1.0,F21B0005K,BOŠKOVÁ,None
16,F20B0539P,nlp,Tue Apr 9 12:01:55 2024,https://archiv.janpatocka.cz/items/show/308,None,1.0,F20B0539P,NOVÁK,None
...,...,...,...,...,...,...,...,...,...
1497,F21B0005K,pdf,Sat May 4 12:12:40 2024,"[hmotný, jiný, zájem, jiný, doufání, dít, hran...",None,2.0,F21B0005K,BOŠKOVÁ,None
1500,F21B0164P,site,Tue Mar 26 14:06:41 2024,site2,None,2.0,F21B0164P,DĚDEČKOVÁ,None
1503,F21B0035K,gis,Fri May 17 16:45:55 2024,darkred,None,1.0,F21B0035K,HLAVÍNOVÁ,None
1505,F21B0206P,gis,Tue Mar 19 14:22:34 2024,kontrola2,None,2.0,F21B0206P,WISLOCKÁ,None
1518,F22B0235P,http,Tue Mar 5 13:31:54 2024,https://www.phil.muni.cz/fil/scf/komplet/kalnd...,None,1.0,F22B0235P,LAPKA,None

In [25]:
table = data_df[data_df["kddhb_students"].notnull()].groupby(["kddhb_students", "ntb"]).size().unstack(fill_value=0)
table = table.clip(upper=2)

In [26]:
#kddhb_povinne = ["http", "api", "tei", "nlp", "pdf"]

In [27]:
table.sum()

ntb
api       32
gis       29
http      38
nlp       37
pdf       24
python    27
site      22
tei       38
dtype: int64

In [28]:
table["sum"] = table.sum(axis=1)

In [29]:
KDDHB_students_inverted = {value: key for key, value in KDDHB_students.items()}
KDDHB_students_inverted

{'BOHÁČKOVÁ': 'F22B0199P',
 'BOŠKOVÁ': 'F21B0005K',
 'BUCHEŇOVÁ': 'F22B0118P',
 'COUFALOVÁ': 'F22B0201P',
 'DĚDEČKOVÁ': 'F21B0164P',
 'GRUNDFESTOVÁ': 'F22B0211P',
 'HAVELOVÁ': 'F22B0030K',
 'HLAVÍNOVÁ': 'F21B0035K',
 'KELLNEROVÁ': 'F21B0022K',
 'KUBEŠOVÁ': 'F21B0028K',
 'KUBINCOVÁ': 'F22B0185P',
 'LAPKA': 'F22B0235P',
 'LE': 'F22B0198P',
 'NOVÁ': 'F21B0033K',
 'NOVÁK': 'F20B0539P',
 'PÁNKOVÁ': 'F22B0248P',
 'REMEŠOVÁ': 'F21B0040K',
 'ŠKAMPOVÁ': 'F22B0267P',
 'ŠLEFR': 'F22B0273P',
 'VOLOPICH': 'F21B0051K',
 'WISLOCKÁ': 'F21B0206P'}

In [30]:
table = table.reset_index()
table

ntb kddhb_students  api  gis  http  nlp  pdf  python  site  tei  sum
0        BOHÁČKOVÁ    2    2     2    2    0       2     2    2   14
1          BOŠKOVÁ    2    0     2    2    2       0     0    2   10
2        BUCHEŇOVÁ    2    2     2    2    0       2     2    2   14
3        COUFALOVÁ    2    2     2    2    0       2     0    2   12
4        DĚDEČKOVÁ    2    1     2    2    2       0     2    2   13
5     GRUNDFESTOVÁ    2    2     2    2    0       2     2    2   14
6         HAVELOVÁ    0    2     2    2    2       2     0    2   12
7        HLAVÍNOVÁ    2    1     2    2    2       1     0    2   12
8       KELLNEROVÁ    2    0     2    2    2       2     0    2   12
9         KUBEŠOVÁ    2    0     2    2    2       0     0    2   10
10       KUBINCOVÁ    0    2     2    2    2       2     2    0   12
11           LAPKA    0    2     2    2    2       2     2    2   14
12              LE    2    2     0    0    0       2     2    2   10
13            NOVÁ    2    1     2    1    2       0     0    2   10
14           NOVÁK    2    2     2    2    0       2     2    2   14
15         PÁNKOVÁ    0    2     2    2    0       2     2    2   12
16        REMEŠOVÁ    2    0     2    2    2       0     0    2   10
17        WISLOCKÁ    2    2     2    2    0       2     2    2   14
18        ŠKAMPOVÁ    2    2     2    2    2       2     2    2   16
19           ŠLEFR    2    2     2    2    2       0     0    2   12

In [31]:
table["osCislo"] = table["kddhb_students"].apply(lambda x: KDDHB_students_inverted[x])
table.drop(columns=["kddhb_students"], inplace=True)
table.set_index("osCislo", inplace=True)
table

ntb        api  gis  http  nlp  pdf  python  site  tei  sum
osCislo
F22B0199P    2    2     2    2    0       2     2    2   14
F21B0005K    2    0     2    2    2       0     0    2   10
F22B0118P    2    2     2    2    0       2     2    2   14
F22B0201P    2    2     2    2    0       2     0    2   12
F21B0164P    2    1     2    2    2       0     2    2   13
F22B0211P    2    2     2    2    0       2     2    2   14
F22B0030K    0    2     2    2    2       2     0    2   12
F21B0035K    2    1     2    2    2       1     0    2   12
F21B0022K    2    0     2    2    2       2     0    2   12
F21B0028K    2    0     2    2    2       0     0    2   10
F22B0185P    0    2     2    2    2       2     2    0   12
F22B0235P    0    2     2    2    2       2     2    2   14
F22B0198P    2    2     0    0    0       2     2    2   10
F21B0033K    2    1     2    1    2       0     0    2   10
F20B0539P    2    2     2    2    0       2     2    2   14
F22B0248P    0    2     2    2    0       2     2    2   12
F21B0040K    2    0     2    2    2       0     0    2   10
F21B0206P    2    2     2    2    0       2     2    2   14
F22B0267P    2    2     2    2    2       2     2    2   16
F22B0273P    2    2     2    2    2       0     0    2   12

In [32]:
table.to_csv("../data/kddhb_plneni.csv")

# UDHB

In [33]:
UDHB_students_inverted = {value: key for key, value in UDHB_students.items()}

In [34]:
table = data_df[data_df["udhb_students"].notnull()].groupby(["udhb_students", "ntb"]).size().unstack(fill_value=0)
table = table.clip(upper=2)

In [35]:
table = table.reset_index()
table

ntb udhb_students  abm  api  gis  http  nlp  pdf  python  regex  site  tei
0          AKRMAN    2    0    2     0    2    2       2      2     2    0
1       BAŽANTOVÁ    2    0    2     2    2    2       1      2     2    0
2        BELANOVÁ    0    0    2     2    2    2       0      0     2    0
3       BEČVÁŘOVÁ    1    0    2     2    2    2       2      2     2    0
4      BLAŽENKOVÁ    0    0    2     1    2    2       2      0     2    0
..            ...  ...  ...  ...   ...  ...  ...     ...    ...   ...  ...
78       ŠORALOVÁ    0    0    2     2    2    1       0      0     2    0
79       ŠPAČKOVÁ    2    0    2     2    2    2       2      2     2    0
80         ŠTRUNC    0    0    2     2    2    2       2      0     2    2
81           ŠTÝS    0    0    0     0    0    0       1      0     0    0
82     ŠVESTÁKOVÁ    2    2    2     2    1    2       1      2     2    0

[83 rows x 11 columns]

In [36]:
table["osCislo"] = table["udhb_students"].apply(lambda x: UDHB_students_inverted[x])
udhb_students_series = table["udhb_students"]
#table.drop(columns=["udhb_students"], inplace=True)
table.set_index("osCislo", inplace=True)
table

ntb,udhb_students,abm,api,gis,http,nlp,pdf,python,regex,site,tei
osCislo,,,,,,,,,,,
F23B0250P,AKRMAN,2,0,2,0,2,2,2,2,2,0
F23B0197P,BAŽANTOVÁ,2,0,2,2,2,2,1,2,2,0
F23B0019K,BELANOVÁ,0,0,2,2,2,2,0,0,2,0
F23B0198P,BEČVÁŘOVÁ,1,0,2,2,2,2,2,2,2,0
F23B0044K,BLAŽENKOVÁ,0,0,2,1,2,2,2,0,2,0
...,...,...,...,...,...,...,...,...,...,...,...
F23B0366P,ŠORALOVÁ,0,0,2,2,2,1,0,0,2,0
F23B0287P,ŠPAČKOVÁ,2,0,2,2,2,2,2,2,2,0
F23B0369P,ŠTRUNC,0,0,2,2,2,2,2,0,2,2
F23B0371P,ŠTÝS,0,0,0,0,0,0,1,0,0,0
F23B0288P,ŠVESTÁKOVÁ,2,2,2,2,1,2,1,2,2,0

In [37]:
len(table)

83

In [38]:
udhb_povinne = ["udhb_students", "site", "gis", "http", "nlp", "pdf"]
table = table[udhb_povinne]
table

ntb       udhb_students  site  gis  http  nlp  pdf
osCislo
F23B0250P        AKRMAN     2    2     0    2    2
F23B0197P     BAŽANTOVÁ     2    2     2    2    2
F23B0019K      BELANOVÁ     2    2     2    2    2
F23B0198P     BEČVÁŘOVÁ     2    2     2    2    2
F23B0044K    BLAŽENKOVÁ     2    2     1    2    2
...                 ...   ...  ...   ...  ...  ...
F23B0366P      ŠORALOVÁ     2    2     2    2    1
F23B0287P      ŠPAČKOVÁ     2    2     2    2    2
F23B0369P        ŠTRUNC     2    2     2    2    2
F23B0371P          ŠTÝS     0    0     0    0    0
F23B0288P    ŠVESTÁKOVÁ     2    2     2    1    2

[83 rows x 6 columns]

In [39]:
table["sum"] = table[["site", "gis", "http", "nlp", "pdf"]].sum(axis=1)
(table["sum"] >= 8).sum()

/var/folders/57/tg7c_g894t5c2z3swkqzds5h0000gn/T/ipykernel_62847/2524964100.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table["sum"] = table[["site", "gis", "http", "nlp", "pdf"]].sum(axis=1)

72

In [41]:
table.to_csv("../data/udhb_povinne_prijmeni.csv")

In [42]:
table.drop(columns=["udhb_students"], inplace=True)

/var/folders/57/tg7c_g894t5c2z3swkqzds5h0000gn/T/ipykernel_62847/1350239464.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table.drop(columns=["udhb_students"], inplace=True)

In [43]:
table = table.sort_index()

In [44]:
table.to_csv("../data/udhb_povinne.csv")

In [46]:
table.sort_values(by="sum", ascending=False)

ntb        site  gis  http  nlp  pdf  sum
osCislo
F23B0247P     2    2     2    2    2   10
F23B0265P     2    2     2    2    2   10
F23B0215P     2    2     2    2    2   10
F23B0216P     2    2     2    2    2   10
F23B0218P     2    2     2    2    2   10
...         ...  ...   ...  ...  ...  ...
F23B0064K     0    1     0    0    0    1
F23B0024K     0    1     0    0    0    1
F23B0376P     0    1     0    0    0    1
F23B0316P     0    0     0    0    0    0
F23B0371P     0    0     0    0    0    0

[83 rows x 6 columns]

In [47]:
(table["sum"] >= 8).sum()

69