V kodu je nedostatek, ktery vznika v 5. radku druhe bunky, kvuli regex funkci. Nenasel jsem vhodnejsi vyhledavac nez 'findall'. V dusledku toho vznika list listu. Kvuli nemu mi lezly [] a '' do url adresy. Proto je odstranuju na 3. radku treti bunky.

Nehezke, ale funguje.

In [1]:
import re
import json
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
resp = requests.get("https://sciencedata.dk/public/082a018b1f2fd125ef4907f01ab2e2cf/")
soup = BeautifulSoup(resp.content, "html.parser")
adress = []
for item in soup.find_all("a"):
    adress.append((re.findall('(?<=href=\").*\.json', str(item))))
adress = adress[0::2]
adress = adress[:-1]

In [3]:
# dávala:
# F1HUMBP2 -> F23B0267P (Preislerová)

In [4]:
data = []
for item in adress:
    resp = requests.get('https://sciencedata.dk' + str(item).strip('[]\''))
    data.append(json.loads(resp.text))

In [5]:
data_df = pd.DataFrame(data)

In [6]:
data_df.head(5)

,user,ntb,time,arg1,arg2,n
0,F20B0539P-FF,python,Tue Feb 27 13:49:49 2024,1920,None,1.0
1,F20B0539P-FF,python,Tue Feb 27 13:50:18 2024,1920,None,2.0
2,F20B0539P-FF,python,Tue Feb 27 14:18:33 2024,"{'klic1': 'aktualizovaná hodnota', 'klic2': 'h...",None,3.0
3,F20B0539P,api,Tue Mar 12 12:41:07 2024,{'items': [{'commentary': '(B): AE 1983: Z. 3/...,None,1.0
4,F20B0539P,api,Tue Mar 12 12:52:34 2024,provinz=ges&offset=6820,None,2.0

In [7]:
# Boháčková
data_df[data_df["user"].str.contains("F22B0199P")]

,user,ntb,time,arg1,arg2,n
156,F22B0199P,nlp,Tue Apr 16 12:17:45 2024,https://archiv.janpatocka.cz/items/show/222,None,1.0
157,F22B0199P,nlp,Tue Apr 16 12:51:35 2024,"[věc, stupeň, kruh, mít, duše, Platón, způsob,...",None,2.0
158,F22B0199P,api,Tue Mar 12 12:41:12 2024,{'items': [{'commentary': 'Barren vom Typ I. N...,None,1.0
159,F22B0199P,api,Tue Mar 12 12:57:19 2024,provinz=ges&offset=6820,None,2.0
160,F22B0199P,api,Tue Mar 12 13:04:00 2024,provinz=ges&offset=6820,None,3.0
161,F22B0199P,gis,Tue Mar 19 13:47:46 2024,darkred,None,1.0
162,F22B0199P,gis,Tue Mar 19 14:09:24 2024,kontrola2,None,2.0
163,F22B0199P,http,Tue Mar 5 13:31:34 2024,https://www.phil.muni.cz/fil/scf/komplet/masar...,None,1.0
164,F22B0199P,http,Tue Mar 5 13:50:58 2024,http2,None,2.0
165,F22B0199P,nlp,Tue Apr 16 10:38:29 2024,https://archiv.janpatocka.cz/items/show/308,None,1.0
166,F22B0199P,nlp,Tue Apr 16 10:39:36 2024,"[pojem, duch, prof, akt, spravedlnost, filosof...",None,2.0
167,F22B0199P,nlp,Tue Apr 16 12:09:26 2024,https://archiv.janpatocka.cz/items/show/2222,None,3.0
168,F22B0199P,python,Tue Feb 27 13:49:36 2024,1920,None,1.0
169,F22B0199P,python,Tue Feb 27 14:15:38 2024,"{'klic1': 'aktualizovaná hodnota', 'klic2': 'h...",None,2.0
170,F22B0199P,site,Tue Apr 16 10:26:22 2024,darkgreen,None,1.0
171,F22B0199P,site,Tue Apr 16 10:35:40 2024,site2,None,2.0
172,F22B0199P,tei,Tue Mar 12 13:18:49 2024,Die Vergnügungen \n der Melancholey.,None,1.0
173,F22B0199P,tei,Tue Mar 12 13:47:06 2024,https://raw.githubusercontent.com/PerseusDL/ca...,None,2.0

In [25]:
luiza = "F23B0037K"
data_df[data_df["user"].str.contains(luiza)]

Empty DataFrame
Columns: [user, ntb, time, arg1, arg2, n, osCislo, kddhb_students, udhb_students]
Index: []

In [12]:
user = "F23BOO44K".replace("O", "0")
re.search("F\d+B\d+[PK]?", user, re.IGNORECASE).group()

'F23B0044K'

In [13]:
def clean_user(user):
    try:
        return re.search("F\d+\w\d+[PK]?", user.replace("O", "0"), re.IGNORECASE).group()
    except: 
        print(user)
data_df["osCislo"] = data_df["user"].apply(clean_user)
data_df.head(5)

100335092
F1HUM BP2
F1HUMBP1
F1HUMBP1
F1HUMBP1
F1HUMBP2
F1HUMBP2
F1HUMBP2
F1HUMBP2
F1HUMBP2
F1HUMBP2
F1HUMBP2
F1HUMBP2
F23
FB21B0035K-FF
LIST - uspořádaný seznam prvků DICTIONARY (dict) - neuspořádaný seznam párů prvků
dsdss
pepík
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
val1 or val2

,user,ntb,time,arg1,arg2,n,osCislo
0,F20B0539P-FF,python,Tue Feb 27 13:49:49 2024,1920,None,1.0,F20B0539P
1,F20B0539P-FF,python,Tue Feb 27 13:50:18 2024,1920,None,2.0,F20B0539P
2,F20B0539P-FF,python,Tue Feb 27 14:18:33 2024,"{'klic1': 'aktualizovaná hodnota', 'klic2': 'h...",None,3.0,F20B0539P
3,F20B0539P,api,Tue Mar 12 12:41:07 2024,{'items': [{'commentary': '(B): AE 1983: Z. 3/...,None,1.0,F20B0539P
4,F20B0539P,api,Tue Mar 12 12:52:34 2024,provinz=ges&offset=6820,None,2.0,F20B0539P

In [14]:
KDDHB_students = pd.read_csv("../data/KDDHB_students.csv", sep=";", encoding='cp1250')
KDDHB_students = dict(zip(KDDHB_students["osCislo"], KDDHB_students["prijmeni"]))
KDDHB_students

{'F22B0199P': 'BOHÁČKOVÁ',
 'F21B0005K': 'BOŠKOVÁ',
 'F22B0118P': 'BUCHEŇOVÁ',
 'F22B0201P': 'COUFALOVÁ',
 'F21B0164P': 'DĚDEČKOVÁ',
 'F22B0211P': 'GRUNDFESTOVÁ',
 'F22B0030K': 'HAVELOVÁ',
 'F21B0035K': 'HLAVÍNOVÁ',
 'F21B0022K': 'KELLNEROVÁ',
 'F21B0028K': 'KUBEŠOVÁ',
 'F22B0185P': 'KUBINCOVÁ',
 'F22B0235P': 'LAPKA',
 'F22B0198P': 'LE',
 'F21B0033K': 'NOVÁ',
 'F20B0539P': 'NOVÁK',
 'F22B0248P': 'PÁNKOVÁ',
 'F21B0040K': 'REMEŠOVÁ',
 'F22B0267P': 'ŠKAMPOVÁ',
 'F22B0273P': 'ŠLEFR',
 'F21B0051K': 'VOLOPICH',
 'F21B0206P': 'WISLOCKÁ'}

In [15]:
UDHB_students = pd.read_csv("../data/UDHB_students.csv", sep=";", encoding='cp1250')
UDHB_students = UDHB_students[UDHB_students["stav"]=="S"]
len(UDHB_students)

124

In [16]:
UDHB_students = dict(zip(UDHB_students["osCislo"], UDHB_students["prijmeni"]))
UDHB_students

{'F23B0250P': 'AKRMAN',
 'F23B0197P': 'BAŽANTOVÁ',
 'F23B0198P': 'BEČVÁŘOVÁ',
 'F23B0019K': 'BELANOVÁ',
 'F23B0199P': 'BERAN',
 'F23B0071K': 'BIELIK',
 'F23B0200P': 'BLÁHOVÁ',
 'F23B0044K': 'BLAŽENKOVÁ',
 'F23B0204P': 'BRADOVÁ',
 'F23B0206P': 'BUBNOVÁ',
 'F23B0302P': 'BUDNIKOV',
 'F23B0024K': 'ČEJKOVÁ',
 'F23B0062P': 'ČERVENKOVÁ',
 'F23B0210P': 'ČEŘOVSKÁ',
 'F23B0212P': 'DOKTOROVÁ',
 'F23B0060K': 'DORICOVÁ',
 'F23B0215P': 'DRESSLEROVÁ',
 'F23B0216P': 'DRNKOVÁ',
 'F23B0253P': 'DROZDOVÁ',
 'F23B0254P': 'DUSILOVÁ',
 'F23B0218P': 'FALDYNOVÁ',
 'F22B0133P': 'FILIPSKA',
 'F23B0219P': 'FOUSOVÁ',
 'F23B0260P': 'FRIŠOVÁ',
 'F23B0220P': 'FRIŠOVÁ',
 'F23B0261P': 'GABRIELOVÁ',
 'F23B0027K': 'GEYEROVÁ',
 'F23B0262P': 'GLACOVÁ',
 'F23B0061K': 'GONOSOVÁ',
 'F23B0263P': 'HAAG',
 'F23B0264P': 'HACKROVÁ',
 'F23B0224P': 'HANČINOVÁ',
 'F23B0266P': 'HANELOVÁ',
 'F23B0031K': 'HUDEC',
 'F23B0233P': 'HŮLOVÁ',
 'F23B0235P': 'CHVOJKA',
 'F23B0033K': 'JANOUCHOVÁ',
 'F23B0275P': 'KAHRAMAN',
 'F23B0238P': 'KALINOVÁ',
 'F23B0276P': 'KALSER',
 'F23B0064K': 'KARAJOŠOVÁ',
 'F23B0277P': 'KARGER',
 'F23B0035K': 'KITTLEROVÁ',
 'F23B0241P': 'KOUBOVÁ',
 'F23B0242P': 'KOVANDOVÁ',
 'F23B0243P': 'KRÁLOVÁ',
 'F23B0065K': 'KRČKOVÁ',
 'F23B0246P': 'KRIEGER',
 'F23B0036K': 'KRUTINOVÁ',
 'F23B0247P': 'KŠÍROVÁ',
 'F23B0251P': 'KUZMYCH',
 'F23B0037K': 'KUZNIETSOVA',
 'F23B0038K': 'KVĚTOŇOVÁ',
 'F23B0290P': 'LANGOVÁ',
 'F23B0039K': 'LÍPOVÁ',
 'F23B0068K': 'MAHÁKOVÁ',
 'F23B0255P': 'MALINA',
 'F23B0297P': 'MAŠKOVÁ',
 'F23B0257P': 'MATĚJKA',
 'F23B0042K': 'MATERNOVÁ',
 'F23B0307P': 'MAYEROVÁ',
 'F23B0258P': 'MEDVEC',
 'F23B0315P': 'MLČÁKOVÁ',
 'F23B0316P': 'MOCOVÁ',
 'F23B0319P': 'MOLNÁROVÁ',
 'F23B0322P': 'ODVÁRKA',
 'F23B0323P': 'PAIDAROVÁ',
 'F23B0324P': 'PATKOVÁ',
 'F23B0055P': 'PAVLOVÁ',
 'F23B0326P': 'PECUŠOVÁ',
 'F23B0265P': 'POLÁK',
 'F23B0043K': 'POTOCKÝ',
 'F23B0267P': 'PRAJZLEROVÁ',
 'F23B0072K': 'PROCHÁZKA',
 'F23B0334P': 'PRYSTAJOVYCH',
 'F23B0073K': 'PUCHROVÁ',
 'F23B0074K': 'PUSTOVYI',
 'F23B0045K': 'RAKAŠOVÁ',
 'F23B0269P': 'RATAJOVÁ',
 'F23B0046K': 'ROUS',
 'F23B0272P': 'RŮČKOVÁ',
 'F23B0049K': 'RYSOVÁ',
 'F23B0335P': 'ŘANDOVÁ',
 'F23B0348P': 'SMILENOV',
 'F23B0349P': 'SMOLÍKOVÁ',
 'F23B0357P': 'SMUTNÁ',
 'F23B0358P': 'STANĚK',
 'F23B0360P': 'STANĚK',
 'F23B0051K': 'STRAKOVÁ GERHARTOVÁ',
 'F23B0278P': 'STUDNIČKOVÁ',
 'F23B0052K': 'SÜSSMILCHOVÁ',
 'F23B0279P': 'SVATKOVÁ',
 'F23B0053K': 'SVOBODOVÁ',
 'F23B0280P': 'SÝKORA',
 'F23B0362P': 'ŠIC',
 'F23B0283P': 'ŠIMONOVÁ',
 'F23B0054K': 'ŠIMONOVSKÝ',
 'F23B0082K': 'ŠINDELÁŘOVÁ',
 'F23B0363P': 'ŠKACHOVÁ',
 'F23B0055K': 'ŠLAJSOVÁ',
 'F23B0286P': 'ŠOBROVÁ',
 'F23B0366P': 'ŠORALOVÁ',
 'F23B0287P': 'ŠPAČKOVÁ',
 'F23B0367P': 'ŠPIMROVÁ',
 'F23B0369P': 'ŠTRUNC',
 'F23B0371P': 'ŠTÝS',
 'F23B0288P': 'ŠVESTÁKOVÁ',
 'F23B0289P': 'TARABOVÁ',
 'F23B0084K': 'TEICHMANNOVÁ',
 'F23B0096P': 'TOMAN',
 'F23B0295P': 'VALTA',
 'F23B0057K': 'VANĚK',
 'F23B0298P': 'VAŠATOVÁ',
 'F23B0336P': 'VENTUROVÁ',
 'F23B0372P': 'VÍTŮ',
 'F23B0300P': 'VOKOUNOVÁ',
 'F23B0376P': 'VOLDŘICHOVÁ',
 'F23B0301P': 'WINNOVÁ',
 'F23B0303P': 'ZAJÍCOVÁ',
 'F23B0304P': 'ZEDÍNKOVÁ',
 'F23B0377P': 'ZELENKOVÁ',
 'F23B0305P': 'ZEMANOVÁ',
 'F23B0381P': 'ZEMENOVÁ',
 'F23B0384P': 'ZEZULOVÁ'}

In [17]:
data_df["kddhb_students"] = data_df["osCislo"].apply(lambda x: KDDHB_students[x] if x in KDDHB_students.keys() else None)

In [18]:
data_df["udhb_students"] = data_df["osCislo"].apply(lambda x: UDHB_students[x] if x in UDHB_students.keys() else None)

In [19]:
data_df[(data_df["udhb_students"].notnull()) & (data_df["ntb"]=="nlp")]

,user,ntb,time,arg1,arg2,n,osCislo,kddhb_students,udhb_students
7,F22B0133P,nlp,Mon Apr 8 11:57:57 2024,"[čas, časový, mít, minulost, přítomnost, moci,...",None,1.0,F22B0133P,None,FILIPSKA
19,F23B0304P,nlp,Mon Apr 8 13:53:17 2024,"[věc, práce, jsoucno, možnost, distancovaný, d...",None,1.0,F23B0304P,None,ZEDÍNKOVÁ
25,studentaF23B0204P,nlp,Mon Apr 15 11:52:11 2024,https://archiv.janpatocka.cz/items/show/308,None,1.0,F23B0204P,None,BRADOVÁ
128,F22B0133P,nlp,Mon Apr 8 11:23:41 2024,https://archiv.janpatocka.cz/items/show/2666,None,1.0,F22B0133P,None,FILIPSKA
129,F22B0133P,nlp,Mon Apr 8 11:23:58 2024,https://archiv.janpatocka.cz/items/show/2666,None,2.0,F22B0133P,None,FILIPSKA
...,...,...,...,...,...,...,...,...,...
684,F23B0349P,nlp,Mon Apr 15 08:33:32 2024,"[reflexe, svět, matematika, věda, lidský, nový...",None,2.0,F23B0349P,None,SMOLÍKOVÁ
707,F23B0362P,nlp,Mon Apr 8 13:11:08 2024,https://archiv.janpatocka.cz/items/show/2655,None,1.0,F23B0362P,None,ŠIC
708,F23B0362P,nlp,Mon Apr 8 13:49:46 2024,"[mýtus, mytický, mít, myšlení, pasivita, otázk...",None,2.0,F23B0362P,None,ŠIC
718,F23B0369P,nlp,Mon Apr 8 13:46:04 2024,https://archiv.janpatocka.cz/items/show/308,None,1.0,F23B0369P,None,ŠTRUNC
719,F23B0369P,nlp,Mon Apr 8 13:52:47 2024,"[pojem, duch, prof, akt, spravedlnost, filosof...",None,2.0,F23B0369P,None,ŠTRUNC

In [20]:
len(data_df["user"].unique().tolist())

151

In [24]:
data_df[(data_df["udhb_students"].notnull()) & (data_df["user"].str.contains("K"))].groupby("ntb").size()

ntb
api        4
gis       45
http       4
nlp        2
pdf        2
python     8
site       2
dtype: int64

In [26]:
data_df[(data_df["kddhb_students"].notnull()) & (data_df["user"].str.contains("K"))].groupby("ntb").size()

ntb
api      8
http    11
tei     10
dtype: int64