V kodu je nedostatek, ktery vznika v 5. radku druhe bunky, kvuli regex funkci. Nenasel jsem vhodnejsi vyhledavac nez 'findall'. V dusledku toho vznika list listu. Kvuli nemu mi lezly [] a '' do url adresy. Proto je odstranuju na 3. radku treti bunky.

Nehezke, ale funguje.

In [1]:
import re
import json
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
resp = requests.get("https://sciencedata.dk/public/082a018b1f2fd125ef4907f01ab2e2cf/")
soup = BeautifulSoup(resp.content, "html.parser")
adress = []
for item in soup.find_all("a"):
    adress.append((re.findall('(?<=href=\").*\.json', str(item))))
adress = adress[0::2]
adress = adress[:-1]

In [3]:
data = []
for item in adress:
    resp = requests.get('https://sciencedata.dk' + str(item).strip('[]\''))
    data.append(json.loads(resp.text))

In [4]:
data_df = pd.DataFrame(data)

In [5]:
data_df.head(5)

,user,ntb,time,arg1,arg2,n
0,F20B0539P-FF,python,Tue Feb 27 13:49:49 2024,1920,None,1.0
1,F20B0539P-FF,python,Tue Feb 27 13:50:18 2024,1920,None,2.0
2,F20B0539P-FF,python,Tue Feb 27 14:18:33 2024,"{'klic1': 'aktualizovaná hodnota', 'klic2': 'h...",None,3.0
3,F20B0539P,api,Tue Mar 12 12:41:07 2024,{'items': [{'commentary': '(B): AE 1983: Z. 3/...,None,1.0
4,F20B0539P,api,Tue Mar 12 12:52:34 2024,provinz=ges&offset=6820,None,2.0

In [7]:
# Boháčková
data_df[data_df["user"].str.contains("F22B0199P")]

,user,ntb,time,arg1,arg2,n
141,F22B0199P,api,Tue Mar 12 12:41:12 2024,{'items': [{'commentary': 'Barren vom Typ I. N...,None,1.0
142,F22B0199P,api,Tue Mar 12 12:57:19 2024,provinz=ges&offset=6820,None,2.0
143,F22B0199P,api,Tue Mar 12 13:04:00 2024,provinz=ges&offset=6820,None,3.0
144,F22B0199P,gis,Tue Mar 19 13:47:46 2024,darkred,None,1.0
145,F22B0199P,gis,Tue Mar 19 14:09:24 2024,kontrola2,None,2.0
146,F22B0199P,http,Tue Mar 5 13:31:34 2024,https://www.phil.muni.cz/fil/scf/komplet/masar...,None,1.0
147,F22B0199P,http,Tue Mar 5 13:50:58 2024,http2,None,2.0
148,F22B0199P,python,Tue Feb 27 13:49:36 2024,1920,None,1.0
149,F22B0199P,python,Tue Feb 27 14:15:38 2024,"{'klic1': 'aktualizovaná hodnota', 'klic2': 'h...",None,2.0
150,F22B0199P,tei,Tue Mar 12 13:18:49 2024,Die Vergnügungen \n der Melancholey.,None,1.0
151,F22B0199P,tei,Tue Mar 12 13:47:06 2024,https://raw.githubusercontent.com/PerseusDL/ca...,None,2.0

In [38]:
re.search("O", "F23BOO44K".replace())

In [39]:
user = "F23BOO44K".replace("O", "0")
re.search("F\d+B\d+[PK]?", user, re.IGNORECASE).group()

'F23B0044K'

In [40]:
def clean_user(user):
    try:
        return re.search("F\d+\w\d+[PK]?", user.replace("O", "0"), re.IGNORECASE).group()
    except: 
        print(user)
data_df["osCislo"] = data_df["user"].apply(clean_user)
data_df.head(5)

100335092
F1HUM BP2
F1HUMBP1
F1HUMBP1
F1HUMBP1
F1HUMBP2
F1HUMBP2
F1HUMBP2
F1HUMBP2
F1HUMBP2
F1HUMBP2
F1HUMBP2
F23
FB21B0035K-FF
LIST - uspořádaný seznam prvků DICTIONARY (dict) - neuspořádaný seznam párů prvků
dsdss
pepík
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
val1 or val2

,user,ntb,time,arg1,arg2,n,osCislo
0,F20B0539P-FF,python,Tue Feb 27 13:49:49 2024,1920,None,1.0,F20B0539P
1,F20B0539P-FF,python,Tue Feb 27 13:50:18 2024,1920,None,2.0,F20B0539P
2,F20B0539P-FF,python,Tue Feb 27 14:18:33 2024,"{'klic1': 'aktualizovaná hodnota', 'klic2': 'h...",None,3.0,F20B0539P
3,F20B0539P,api,Tue Mar 12 12:41:07 2024,{'items': [{'commentary': '(B): AE 1983: Z. 3/...,None,1.0,F20B0539P
4,F20B0539P,api,Tue Mar 12 12:52:34 2024,provinz=ges&offset=6820,None,2.0,F20B0539P

In [41]:
KDDHB_students = pd.read_csv("../data/KDDHB_students.csv", sep=";", encoding='cp1250')
KDDHB_students = dict(zip(KDDHB_students["osCislo"], KDDHB_students["prijmeni"]))
KDDHB_students

{'F22B0199P': 'BOHÁČKOVÁ',
 'F21B0005K': 'BOŠKOVÁ',
 'F22B0118P': 'BUCHEŇOVÁ',
 'F22B0201P': 'COUFALOVÁ',
 'F21B0164P': 'DĚDEČKOVÁ',
 'F22B0211P': 'GRUNDFESTOVÁ',
 'F22B0030K': 'HAVELOVÁ',
 'F21B0035K': 'HLAVÍNOVÁ',
 'F21B0022K': 'KELLNEROVÁ',
 'F21B0028K': 'KUBEŠOVÁ',
 'F22B0185P': 'KUBINCOVÁ',
 'F22B0235P': 'LAPKA',
 'F22B0198P': 'LE',
 'F21B0033K': 'NOVÁ',
 'F20B0539P': 'NOVÁK',
 'F22B0248P': 'PÁNKOVÁ',
 'F21B0040K': 'REMEŠOVÁ',
 'F22B0267P': 'ŠKAMPOVÁ',
 'F22B0273P': 'ŠLEFR',
 'F21B0051K': 'VOLOPICH',
 'F21B0206P': 'WISLOCKÁ'}

In [48]:
data_df["kddhb_students"] = data_df["osCislo"].apply(lambda x: KDDHB_students[x] if x in KDDHB_students.keys() else None)
#data_df["kddhb_students"] = data_df["osCislo"].apply(lambda x: KDDHB_students.get(x, x))

In [51]:
data_df[data_df["kddhb_students"].notnull()]

,user,ntb,time,arg1,arg2,n,osCislo,kddhb_students
0,F20B0539P-FF,python,Tue Feb 27 13:49:49 2024,1920,None,1.0,F20B0539P,NOVÁK
1,F20B0539P-FF,python,Tue Feb 27 13:50:18 2024,1920,None,2.0,F20B0539P,NOVÁK
2,F20B0539P-FF,python,Tue Feb 27 14:18:33 2024,"{'klic1': 'aktualizovaná hodnota', 'klic2': 'h...",None,3.0,F20B0539P,NOVÁK
3,F20B0539P,api,Tue Mar 12 12:41:07 2024,{'items': [{'commentary': '(B): AE 1983: Z. 3/...,None,1.0,F20B0539P,NOVÁK
4,F20B0539P,api,Tue Mar 12 12:52:34 2024,provinz=ges&offset=6820,None,2.0,F20B0539P,NOVÁK
...,...,...,...,...,...,...,...,...
196,F22B0273P,gis,Thu Mar 21 22:03:09 2024,kontrola2,None,2.0,F22B0273P,ŠLEFR
197,F22B0273P,http,Tue Mar 5 13:32:49 2024,https://www.phil.muni.cz/fil/scf/komplet/skrac...,None,1.0,F22B0273P,ŠLEFR
198,F22B0273P,http,Tue Mar 5 13:53:49 2024,http2,None,2.0,F22B0273P,ŠLEFR
199,F22B0273P,tei,Tue Mar 12 22:05:05 2024,Die Vergnügungen \n der Melancholey.,None,1.0,F22B0273P,ŠLEFR
200,F22B0273P,tei,Tue Mar 12 22:11:33 2024,https://raw.githubusercontent.com/PerseusDL/ca...,None,2.0,F22B0273P,ŠLEFR

In [9]:
len(data_df["user"].unique().tolist())

78