V kodu je nedostatek, ktery vznika v 5. radku druhe bunky, kvuli regex funkci. Nenasel jsem vhodnejsi vyhledavac nez 'findall'. V dusledku toho vznika list listu. Kvuli nemu mi lezly [] a '' do url adresy. Proto je odstranuju na 3. radku treti bunky.

Nehezke, ale funguje.

In [1]:
import re
import json
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [2]:
resp = requests.get("https://sciencedata.dk/public/082a018b1f2fd125ef4907f01ab2e2cf/")
soup = BeautifulSoup(resp.content, "html.parser")
adress = []
for item in soup.find_all("a"):
    adress.append((re.findall('(?<=href=\").*\.json', str(item))))
adress = adress[0::2]
adress = adress[:-1]

In [3]:
# dávala:
# F1HUMBP2 -> F23B0267P (Preislerová)

In [3]:
data = []
for item in adress:
    resp = requests.get('https://sciencedata.dk' + str(item).strip('[]\''))
    data.append(json.loads(resp.text))

In [4]:
data_df = pd.DataFrame(data)

In [40]:
data_df.to_json("../data/data_df.json")

In [ ]:
#data_df = pd.read_json("../data/data_df.json")

In [5]:
data_df.head(5)

,user,ntb,time,arg1,arg2,n
0,F20B0539P-FF,python,Tue Feb 27 13:49:49 2024,1920,None,1.0
1,F20B0539P-FF,python,Tue Feb 27 13:50:18 2024,1920,None,2.0
2,F20B0539P-FF,python,Tue Feb 27 14:18:33 2024,"{'klic1': 'aktualizovaná hodnota', 'klic2': 'h...",None,3.0
3,F20B0539P,api,Tue Mar 12 12:41:07 2024,{'items': [{'commentary': '(B): AE 1983: Z. 3/...,None,1.0
4,F20B0539P,api,Tue Mar 12 12:52:34 2024,provinz=ges&offset=6820,None,2.0

In [9]:
luiza = "F23B0037K"
data_df[data_df["user"].str.contains(luiza)]

Empty DataFrame
Columns: [user, ntb, time, arg1, arg2, n]
Index: []

In [10]:
user = "F23BOO44K".replace("O", "0")
re.search("F\d+B\d+[PK]?", user, re.IGNORECASE).group()

'F23B0044K'

In [20]:
sinkulova = "F23N0031P"
polivka = "F22N0060P"

In [22]:
data_df[data_df["user"].str.contains(sinkulova)]

Empty DataFrame
Columns: [user, ntb, time, arg1, arg2, n]
Index: []

In [23]:
data_df[data_df["user"].str.contains(polivka)]

,user,ntb,time,arg1,arg2,n
9,F22N0060P,nlp,Mon Apr 22 09:21:32 2024,https://archiv.janpatocka.cz/items/show/308,None,1.0
271,F22N0060P,gis,Sun Mar 17 10:57:00 2024,darkred,None,1.0
272,F22N0060P,gis,Fri Apr 26 08:32:50 2024,darkred,None,2.0
273,F22N0060P,gis,Fri Apr 26 08:47:10 2024,kontrola2,None,3.0
274,F22N0060P,http,Wed Mar 27 12:52:59 2024,https://www.phil.muni.cz/fil/scf/komplet/machj...,None,1.0
275,F22N0060P,http,Wed Mar 27 15:17:58 2024,https://www.phil.muni.cz/fil/scf/komplet/machj...,None,2.0
276,F22N0060P,http,Wed Mar 27 15:18:47 2024,http2,None,3.0
277,F22N0060P,nlp,Mon Apr 22 09:24:33 2024,"[pojem, duch, prof, akt, spravedlnost, filosof...",None,1.0
278,F22N0060P,pdf,Mon Apr 22 09:30:14 2024,STUDIE '56/2 \nDr.E. RYPAR: Pohled ne scuč.the...,None,1.0
279,F22N0060P,pdf,Mon Apr 22 09:50:28 2024,[cessarit],None,2.0
280,F22N0060P,site,Fri Mar 15 18:09:44 2024,darkgreen,None,1.0
281,F22N0060P,site,Sat Mar 16 10:07:37 2024,site2,None,2.0

In [24]:
def clean_user(user):
    try:
        return re.search("F\d+\w\d+[PK]?", user.replace("O", "0"), re.IGNORECASE).group()
    except: 
        print(user)
data_df["osCislo"] = data_df["user"].apply(clean_user)
data_df.head(5)

100335092
22B0030K
F1HUM BP2
F1HUMBP1
F1HUMBP1
F1HUMBP1
F1HUMBP2
F1HUMBP2
F1HUMBP2
F1HUMBP2
F1HUMBP2
F1HUMBP2
F1HUMBP2
F1HUMBP2
F23
FB21B0035K-FF
FB23B0044K
LIST - uspořádaný seznam prvků DICTIONARY (dict) - neuspořádaný seznam párů prvků
dsdss
pepík
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
test
val1 or val2

,user,ntb,time,arg1,arg2,n,osCislo
0,F20B0539P-FF,python,Tue Feb 27 13:49:49 2024,1920,None,1.0,F20B0539P
1,F20B0539P-FF,python,Tue Feb 27 13:50:18 2024,1920,None,2.0,F20B0539P
2,F20B0539P-FF,python,Tue Feb 27 14:18:33 2024,"{'klic1': 'aktualizovaná hodnota', 'klic2': 'h...",None,3.0,F20B0539P
3,F20B0539P,api,Tue Mar 12 12:41:07 2024,{'items': [{'commentary': '(B): AE 1983: Z. 3/...,None,1.0,F20B0539P
4,F20B0539P,api,Tue Mar 12 12:52:34 2024,provinz=ges&offset=6820,None,2.0,F20B0539P

In [25]:
KDDHB_students = pd.read_csv("../data/KDDHB_students.csv", sep=";", encoding='cp1250')
KDDHB_students = dict(zip(KDDHB_students["osCislo"], KDDHB_students["prijmeni"]))
KDDHB_students

{'F22B0199P': 'BOHÁČKOVÁ',
 'F21B0005K': 'BOŠKOVÁ',
 'F22B0118P': 'BUCHEŇOVÁ',
 'F22B0201P': 'COUFALOVÁ',
 'F21B0164P': 'DĚDEČKOVÁ',
 'F22B0211P': 'GRUNDFESTOVÁ',
 'F22B0030K': 'HAVELOVÁ',
 'F21B0035K': 'HLAVÍNOVÁ',
 'F21B0022K': 'KELLNEROVÁ',
 'F21B0028K': 'KUBEŠOVÁ',
 'F22B0185P': 'KUBINCOVÁ',
 'F22B0235P': 'LAPKA',
 'F22B0198P': 'LE',
 'F21B0033K': 'NOVÁ',
 'F20B0539P': 'NOVÁK',
 'F22B0248P': 'PÁNKOVÁ',
 'F21B0040K': 'REMEŠOVÁ',
 'F22B0267P': 'ŠKAMPOVÁ',
 'F22B0273P': 'ŠLEFR',
 'F21B0051K': 'VOLOPICH',
 'F21B0206P': 'WISLOCKÁ'}

In [26]:
UDHB_students = pd.read_csv("../data/UDHB_students.csv", sep=";", encoding='cp1250')
UDHB_students = UDHB_students[UDHB_students["stav"]=="S"]
len(UDHB_students)

124

In [27]:
UDHB_students = dict(zip(UDHB_students["osCislo"], UDHB_students["prijmeni"]))
UDHB_students

{'F23B0250P': 'AKRMAN',
 'F23B0197P': 'BAŽANTOVÁ',
 'F23B0198P': 'BEČVÁŘOVÁ',
 'F23B0019K': 'BELANOVÁ',
 'F23B0199P': 'BERAN',
 'F23B0071K': 'BIELIK',
 'F23B0200P': 'BLÁHOVÁ',
 'F23B0044K': 'BLAŽENKOVÁ',
 'F23B0204P': 'BRADOVÁ',
 'F23B0206P': 'BUBNOVÁ',
 'F23B0302P': 'BUDNIKOV',
 'F23B0024K': 'ČEJKOVÁ',
 'F23B0062P': 'ČERVENKOVÁ',
 'F23B0210P': 'ČEŘOVSKÁ',
 'F23B0212P': 'DOKTOROVÁ',
 'F23B0060K': 'DORICOVÁ',
 'F23B0215P': 'DRESSLEROVÁ',
 'F23B0216P': 'DRNKOVÁ',
 'F23B0253P': 'DROZDOVÁ',
 'F23B0254P': 'DUSILOVÁ',
 'F23B0218P': 'FALDYNOVÁ',
 'F22B0133P': 'FILIPSKA',
 'F23B0219P': 'FOUSOVÁ',
 'F23B0260P': 'FRIŠOVÁ',
 'F23B0220P': 'FRIŠOVÁ',
 'F23B0261P': 'GABRIELOVÁ',
 'F23B0027K': 'GEYEROVÁ',
 'F23B0262P': 'GLACOVÁ',
 'F23B0061K': 'GONOSOVÁ',
 'F23B0263P': 'HAAG',
 'F23B0264P': 'HACKROVÁ',
 'F23B0224P': 'HANČINOVÁ',
 'F23B0266P': 'HANELOVÁ',
 'F23B0031K': 'HUDEC',
 'F23B0233P': 'HŮLOVÁ',
 'F23B0235P': 'CHVOJKA',
 'F23B0033K': 'JANOUCHOVÁ',
 'F23B0275P': 'KAHRAMAN',
 'F23B0238P': 'KALINOVÁ',
 'F23B0276P': 'KALSER',
 'F23B0064K': 'KARAJOŠOVÁ',
 'F23B0277P': 'KARGER',
 'F23B0035K': 'KITTLEROVÁ',
 'F23B0241P': 'KOUBOVÁ',
 'F23B0242P': 'KOVANDOVÁ',
 'F23B0243P': 'KRÁLOVÁ',
 'F23B0065K': 'KRČKOVÁ',
 'F23B0246P': 'KRIEGER',
 'F23B0036K': 'KRUTINOVÁ',
 'F23B0247P': 'KŠÍROVÁ',
 'F23B0251P': 'KUZMYCH',
 'F23B0037K': 'KUZNIETSOVA',
 'F23B0038K': 'KVĚTOŇOVÁ',
 'F23B0290P': 'LANGOVÁ',
 'F23B0039K': 'LÍPOVÁ',
 'F23B0068K': 'MAHÁKOVÁ',
 'F23B0255P': 'MALINA',
 'F23B0297P': 'MAŠKOVÁ',
 'F23B0257P': 'MATĚJKA',
 'F23B0042K': 'MATERNOVÁ',
 'F23B0307P': 'MAYEROVÁ',
 'F23B0258P': 'MEDVEC',
 'F23B0315P': 'MLČÁKOVÁ',
 'F23B0316P': 'MOCOVÁ',
 'F23B0319P': 'MOLNÁROVÁ',
 'F23B0322P': 'ODVÁRKA',
 'F23B0323P': 'PAIDAROVÁ',
 'F23B0324P': 'PATKOVÁ',
 'F23B0055P': 'PAVLOVÁ',
 'F23B0326P': 'PECUŠOVÁ',
 'F23B0265P': 'POLÁK',
 'F23B0043K': 'POTOCKÝ',
 'F23B0267P': 'PRAJZLEROVÁ',
 'F23B0072K': 'PROCHÁZKA',
 'F23B0334P': 'PRYSTAJOVYCH',
 'F23B0073K': 'PUCHROVÁ',
 'F23B0074K': 'PUSTOVYI',
 'F23B0045K': 'RAKAŠOVÁ',
 'F23B0269P': 'RATAJOVÁ',
 'F23B0046K': 'ROUS',
 'F23B0272P': 'RŮČKOVÁ',
 'F23B0049K': 'RYSOVÁ',
 'F23B0335P': 'ŘANDOVÁ',
 'F23B0348P': 'SMILENOV',
 'F23B0349P': 'SMOLÍKOVÁ',
 'F23B0357P': 'SMUTNÁ',
 'F23B0358P': 'STANĚK',
 'F23B0360P': 'STANĚK',
 'F23B0051K': 'STRAKOVÁ GERHARTOVÁ',
 'F23B0278P': 'STUDNIČKOVÁ',
 'F23B0052K': 'SÜSSMILCHOVÁ',
 'F23B0279P': 'SVATKOVÁ',
 'F23B0053K': 'SVOBODOVÁ',
 'F23B0280P': 'SÝKORA',
 'F23B0362P': 'ŠIC',
 'F23B0283P': 'ŠIMONOVÁ',
 'F23B0054K': 'ŠIMONOVSKÝ',
 'F23B0082K': 'ŠINDELÁŘOVÁ',
 'F23B0363P': 'ŠKACHOVÁ',
 'F23B0055K': 'ŠLAJSOVÁ',
 'F23B0286P': 'ŠOBROVÁ',
 'F23B0366P': 'ŠORALOVÁ',
 'F23B0287P': 'ŠPAČKOVÁ',
 'F23B0367P': 'ŠPIMROVÁ',
 'F23B0369P': 'ŠTRUNC',
 'F23B0371P': 'ŠTÝS',
 'F23B0288P': 'ŠVESTÁKOVÁ',
 'F23B0289P': 'TARABOVÁ',
 'F23B0084K': 'TEICHMANNOVÁ',
 'F23B0096P': 'TOMAN',
 'F23B0295P': 'VALTA',
 'F23B0057K': 'VANĚK',
 'F23B0298P': 'VAŠATOVÁ',
 'F23B0336P': 'VENTUROVÁ',
 'F23B0372P': 'VÍTŮ',
 'F23B0300P': 'VOKOUNOVÁ',
 'F23B0376P': 'VOLDŘICHOVÁ',
 'F23B0301P': 'WINNOVÁ',
 'F23B0303P': 'ZAJÍCOVÁ',
 'F23B0304P': 'ZEDÍNKOVÁ',
 'F23B0377P': 'ZELENKOVÁ',
 'F23B0305P': 'ZEMANOVÁ',
 'F23B0381P': 'ZEMENOVÁ',
 'F23B0384P': 'ZEZULOVÁ'}

In [28]:
data_df["kddhb_students"] = data_df["osCislo"].apply(lambda x: KDDHB_students[x] if x in KDDHB_students.keys() else None)

In [29]:
data_df["udhb_students"] = data_df["osCislo"].apply(lambda x: UDHB_students[x] if x in UDHB_students.keys() else None)

In [30]:
data_df[(data_df["udhb_students"].notnull()) & (data_df["ntb"]=="nlp")]

,user,ntb,time,arg1,arg2,n,osCislo,kddhb_students,udhb_students
7,F22B0133P,nlp,Mon Apr 8 11:57:57 2024,"[čas, časový, mít, minulost, přítomnost, moci,...",None,1.0,F22B0133P,None,FILIPSKA
14,F23B0043K - FF,nlp,Mon Apr 29 09:54:19 2024,https://archiv.janpatocka.cz/items/show/308,None,1.0,F23B0043K,None,POTOCKÝ
15,F23B0043K - FF,nlp,Mon Apr 29 09:55:21 2024,"[pojem, duch, prof, akt, spravedlnost, filosof...",None,2.0,F23B0043K,None,POTOCKÝ
22,F23B0082K,nlp,Sat Apr 20 09:19:05 2024,https://archiv.janpatocka.cz/items/show/2666,None,1.0,F23B0082K,None,ŠINDELÁŘOVÁ
23,F23B0082K,nlp,Sat Apr 20 10:15:23 2024,"[čas, časový, mít, minulost, přítomnost, moci,...",None,2.0,F23B0082K,None,ŠINDELÁŘOVÁ
...,...,...,...,...,...,...,...,...,...
981,F23B0362P,nlp,Mon Apr 8 13:11:08 2024,https://archiv.janpatocka.cz/items/show/2655,None,1.0,F23B0362P,None,ŠIC
982,F23B0362P,nlp,Mon Apr 8 13:49:46 2024,"[mýtus, mytický, mít, myšlení, pasivita, otázk...",None,2.0,F23B0362P,None,ŠIC
995,F23B0369P,nlp,Mon Apr 8 13:46:04 2024,https://archiv.janpatocka.cz/items/show/308,None,1.0,F23B0369P,None,ŠTRUNC
996,F23B0369P,nlp,Mon Apr 8 13:52:47 2024,"[pojem, duch, prof, akt, spravedlnost, filosof...",None,2.0,F23B0369P,None,ŠTRUNC
1027,FF23B0073K,nlp,Sat Apr 20 09:37:42 2024,"[pojem, duch, prof, akt, spravedlnost, filosof...",None,1.0,F23B0073K,None,PUCHROVÁ

In [31]:
len(data_df["user"].unique().tolist())

168

In [32]:
data_df[(data_df["udhb_students"].notnull()) & (data_df["user"].str.contains("K"))].groupby("ntb").size()

ntb
api        4
gis       49
http      34
nlp       30
pdf       20
python     8
site      17
dtype: int64

In [33]:
data_df[(data_df["kddhb_students"].notnull()) & (data_df["user"].str.contains("K"))].groupby("ntb").size()

ntb
api      8
http    11
nlp      8
pdf      2
tei     10
dtype: int64

In [34]:
data_df[(data_df["kddhb_students"].notnull())]

,user,ntb,time,arg1,arg2,n,osCislo,kddhb_students,udhb_students
0,F20B0539P-FF,python,Tue Feb 27 13:49:49 2024,1920,None,1.0,F20B0539P,NOVÁK,None
1,F20B0539P-FF,python,Tue Feb 27 13:50:18 2024,1920,None,2.0,F20B0539P,NOVÁK,None
2,F20B0539P-FF,python,Tue Feb 27 14:18:33 2024,"{'klic1': 'aktualizovaná hodnota', 'klic2': 'h...",None,3.0,F20B0539P,NOVÁK,None
3,F20B0539P,api,Tue Mar 12 12:41:07 2024,{'items': [{'commentary': '(B): AE 1983: Z. 3/...,None,1.0,F20B0539P,NOVÁK,None
4,F20B0539P,api,Tue Mar 12 12:52:34 2024,provinz=ges&offset=6820,None,2.0,F20B0539P,NOVÁK,None
...,...,...,...,...,...,...,...,...,...
266,F22B0273P,nlp,Mon Apr 15 19:19:24 2024,https://archiv.janpatocka.cz/items/show/305,None,1.0,F22B0273P,ŠLEFR,None
267,F22B0273P,nlp,Mon Apr 15 19:23:40 2024,"[dějiny, Rothacker, filosofie, moment, tradice...",None,2.0,F22B0273P,ŠLEFR,None
268,F22B0273P,nlp,Tue Apr 16 12:10:32 2024,https://archiv.janpatocka.cz/items/show/2659,None,3.0,F22B0273P,ŠLEFR,None
269,F22B0273P,tei,Tue Mar 12 22:05:05 2024,Die Vergnügungen \n der Melancholey.,None,1.0,F22B0273P,ŠLEFR,None
270,F22B0273P,tei,Tue Mar 12 22:11:33 2024,https://raw.githubusercontent.com/PerseusDL/ca...,None,2.0,F22B0273P,ŠLEFR,None

In [83]:
table = data_df[data_df["kddhb_students"].notnull()].groupby(["kddhb_students", "ntb"]).size().unstack(fill_value=0)
table = table.clip(upper=2)

In [84]:
#kddhb_povinne = ["http", "api", "tei", "nlp", "pdf"]

In [85]:
table.sum()

ntb
api       24
gis       22
http      33
nlp       25
pdf        4
python    22
site      20
tei       28
dtype: int64

In [86]:
table["sum"] = table.sum(axis=1)

In [87]:
KDDHB_students_inverted = {value: key for key, value in KDDHB_students.items()}
KDDHB_students_inverted

{'BOHÁČKOVÁ': 'F22B0199P',
 'BOŠKOVÁ': 'F21B0005K',
 'BUCHEŇOVÁ': 'F22B0118P',
 'COUFALOVÁ': 'F22B0201P',
 'DĚDEČKOVÁ': 'F21B0164P',
 'GRUNDFESTOVÁ': 'F22B0211P',
 'HAVELOVÁ': 'F22B0030K',
 'HLAVÍNOVÁ': 'F21B0035K',
 'KELLNEROVÁ': 'F21B0022K',
 'KUBEŠOVÁ': 'F21B0028K',
 'KUBINCOVÁ': 'F22B0185P',
 'LAPKA': 'F22B0235P',
 'LE': 'F22B0198P',
 'NOVÁ': 'F21B0033K',
 'NOVÁK': 'F20B0539P',
 'PÁNKOVÁ': 'F22B0248P',
 'REMEŠOVÁ': 'F21B0040K',
 'ŠKAMPOVÁ': 'F22B0267P',
 'ŠLEFR': 'F22B0273P',
 'VOLOPICH': 'F21B0051K',
 'WISLOCKÁ': 'F21B0206P'}

In [91]:
table = table.reset_index()
table

ntb kddhb_students  api  gis  http  nlp  pdf  python  site  tei  sum
0        BOHÁČKOVÁ    2    2     2    2    0       2     2    2   14
1          BOŠKOVÁ    0    0     0    2    0       0     0    0    2
2        BUCHEŇOVÁ    2    2     2    2    0       2     2    2   14
3        COUFALOVÁ    2    2     2    2    0       2     0    2   12
4        DĚDEČKOVÁ    0    0     2    0    0       0     2    0    4
5     GRUNDFESTOVÁ    2    2     2    2    0       2     2    2   14
6         HAVELOVÁ    0    0     2    2    2       0     0    0    6
7        HLAVÍNOVÁ    0    0     1    0    0       0     0    2    3
8       KELLNEROVÁ    2    0     2    2    0       0     0    2    8
9         KUBEŠOVÁ    2    0     2    0    0       0     0    2    6
10       KUBINCOVÁ    0    2     2    2    2       2     2    0   12
11           LAPKA    0    0     2    0    0       2     0    0    4
12              LE    2    2     0    0    0       2     2    2   10
13            NOVÁ    2    0     2    1    0       0     0    2    7
14           NOVÁK    2    2     2    2    0       2     2    2   14
15         PÁNKOVÁ    0    2     2    2    0       2     2    2   12
16        REMEŠOVÁ    2    0     2    0    0       0     0    2    6
17        WISLOCKÁ    2    2     2    2    0       2     2    2   14
18        ŠKAMPOVÁ    0    2     0    0    0       2     2    0    6
19           ŠLEFR    2    2     2    2    0       0     0    2   10

In [94]:
table["osCislo"] = table["kddhb_students"].apply(lambda x: KDDHB_students_inverted[x])
table.drop(columns=["kddhb_students"], inplace=True)
table.set_index("osCislo", inplace=True)
table

ntb        api  gis  http  nlp  pdf  python  site  tei  sum
osCislo
F22B0199P    2    2     2    2    0       2     2    2   14
F21B0005K    0    0     0    2    0       0     0    0    2
F22B0118P    2    2     2    2    0       2     2    2   14
F22B0201P    2    2     2    2    0       2     0    2   12
F21B0164P    0    0     2    0    0       0     2    0    4
F22B0211P    2    2     2    2    0       2     2    2   14
F22B0030K    0    0     2    2    2       0     0    0    6
F21B0035K    0    0     1    0    0       0     0    2    3
F21B0022K    2    0     2    2    0       0     0    2    8
F21B0028K    2    0     2    0    0       0     0    2    6
F22B0185P    0    2     2    2    2       2     2    0   12
F22B0235P    0    0     2    0    0       2     0    0    4
F22B0198P    2    2     0    0    0       2     2    2   10
F21B0033K    2    0     2    1    0       0     0    2    7
F20B0539P    2    2     2    2    0       2     2    2   14
F22B0248P    0    2     2    2    0       2     2    2   12
F21B0040K    2    0     2    0    0       0     0    2    6
F21B0206P    2    2     2    2    0       2     2    2   14
F22B0267P    0    2     0    0    0       2     2    0    6
F22B0273P    2    2     2    2    0       0     0    2   10

In [96]:
table.to_csv("../data/kddhb_plneni.csv")