V kodu je nedostatek, ktery vznika v 5. radku druhe bunky, kvuli regex funkci. Nenasel jsem vhodnejsi vyhledavac nez 'findall'. V dusledku toho vznika list listu. Kvuli nemu mi lezly [] a '' do url adresy. Proto je odstranuju na 3. radku treti bunky.

Nehezke, ale funguje.

In [97]:
import re
import json
import requests
import pandas as pd
from bs4 import BeautifulSoup

In [283]:
resp = requests.get("https://sciencedata.dk/public/082a018b1f2fd125ef4907f01ab2e2cf/")
soup = BeautifulSoup(resp.content, "html.parser")
address = []
for item in soup.find_all("a"):
    href = item.get('href')
    if href and '.json' in href:
        address.append(href)
address[:10]

['/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P-FF_python_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P-FF_python_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P-FF_python_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P-FF_python_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P-FF_python_3.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P-FF_python_3.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P_api_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P_api_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P_api_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/%20F20B0539P_api_2.json']

In [284]:
len(address)

2282

In [285]:
address = list(set(address))
len(address)

1141

In [286]:
address[:10]

['/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0204P_http_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F22N0060P_site_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F21B0040K_http_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0280P_pdf_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0300P_site_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0218P_pdf_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0216P_python_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0280P_pdf_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0369P_http_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23B0033K_pdf_1.json']

In [287]:
[a for a in address if "F23N0031P" in a]

['/public/082a018b1f2fd125ef4907f01ab2e2cf/F23N0031P_nlp_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23N0031P_nlp_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23N0031P_site_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23N0031P_http_3.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23N0031P_gis_3.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23N0031P_pdf_3.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23N0031P_pdf_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23N0031P_site_3.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23N0031P_http_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23N0031P_site_2.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23N0031P_http_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23N0031P_pdf_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23N0031P_gis_1.json',
 '/public/082a018b1f2fd125ef4907f01ab2e2cf/F23N0031P_gis_2.json']

In [288]:
# dávala:
# F1HUMBP2 -> F23B0267P (Preislerová)

In [289]:
data = []
for item in address:
    resp = requests.get('https://sciencedata.dk' + str(item))
    data.append(json.loads(resp.text))

In [290]:
data_df = pd.DataFrame(data)

In [291]:
data_df.to_json("../data/data_df.json")

In [292]:
#data_df = pd.read_json("../data/data_df.json")

In [293]:
data_df.head(5)

,user,ntb,time,arg1,arg2,n
0,F23B0204P,http,Mon Apr 29 13:01:55 2024,https://www.phil.muni.cz/fil/scf/komplet/machj...,None,1.0
1,F22N0060P,site,Sat Mar 16 10:07:37 2024,site2,None,2.0
2,F21B0040K,http,Sat Mar 23 14:20:06 2024,http2,None,2.0
3,F23B0280P,pdf,Mon Apr 22 14:23:21 2024,2,None,2.0
4,F23B0300P,site,Mon Mar 25 15:01:03 2024,site2,None,2.0

In [215]:
luiza = "F23B0037K"
data_df[data_df["user"].str.contains(luiza)]

Empty DataFrame
Columns: [user, ntb, time, arg1, arg2, n]
Index: []

In [216]:
user = "F23BOO44K".replace("O", "0")
re.search("F\d+B\d+[PK]?", user, re.IGNORECASE).group()

'F23B0044K'

In [217]:
sinkulova = "F23N0031P"
polivka = "F22N0060P"

In [218]:
data_df[data_df["user"].str.contains(sinkulova)]

,user,ntb,time,arg1,arg2,n
22,F23N0031P,nlp,Sun May 5 05:07:59 2024,https://archiv.janpatocka.cz/items/show/2676,None,1.0
175,F23N0031P,nlp,Sun May 5 05:09:31 2024,"[svět, celek, dějiny, struktura, věda, fyzika,...",None,2.0
221,F23N0031P,site,Sun May 5 04:51:48 2024,darkgreen,None,1.0
266,F23N0031P,http,Mon May 6 07:56:21 2024,http2,None,3.0
378,F23N0031P,gis,Mon May 6 07:54:30 2024,kontrola2,None,3.0
381,F23N0031P,pdf,Mon May 6 08:04:14 2024,"[hmotný, jiný, zájem, jiný, doufání, dít, hran...",None,3.0
421,F23N0031P,pdf,Mon May 6 08:00:46 2024,STUDIE '56/2 \nDr.E. RYPAR: Pohled ne scuč.the...,None,2.0
569,F23N0031P,site,Mon May 6 07:45:57 2024,site2,None,3.0
637,F23N0031P,http,Mon May 6 07:55:59 2024,https://www.phil.muni.cz/fil/scf/komplet/fiala...,None,2.0
674,F23N0031P,site,Mon May 6 07:40:59 2024,darkgreen,None,2.0
882,F23N0031P,http,Sun May 5 05:01:08 2024,https://www.phil.muni.cz/fil/scf/komplet/machj...,None,1.0
906,F23N0031P,pdf,Sun May 5 05:19:08 2024,STUDIE '56/2 \nDr.E. RYPAR: Pohled ne scuč.the...,None,1.0
935,F23N0031P,gis,Sun May 5 04:56:26 2024,darkred,None,1.0
937,F23N0031P,gis,Mon May 6 07:52:23 2024,darkred,None,2.0

In [219]:
data_df[data_df["user"].str.contains(polivka)]

,user,ntb,time,arg1,arg2,n
1,F22N0060P,site,Sat Mar 16 10:07:37 2024,site2,None,2.0
78,F22N0060P,http,Wed Mar 27 12:52:59 2024,https://www.phil.muni.cz/fil/scf/komplet/machj...,None,1.0
206,F22N0060P,gis,Sun Mar 17 10:57:00 2024,darkred,None,1.0
223,F22N0060P,pdf,Mon Apr 22 09:30:14 2024,STUDIE '56/2 \nDr.E. RYPAR: Pohled ne scuč.the...,None,1.0
345,F22N0060P,http,Wed Mar 27 15:17:58 2024,https://www.phil.muni.cz/fil/scf/komplet/machj...,None,2.0
413,F22N0060P,gis,Fri Apr 26 08:32:50 2024,darkred,None,2.0
433,F22N0060P,gis,Fri Apr 26 08:47:10 2024,kontrola2,None,3.0
495,F22N0060P,nlp,Mon Apr 22 09:21:32 2024,https://archiv.janpatocka.cz/items/show/308,None,1.0
537,F22N0060P,nlp,Mon Apr 22 09:24:33 2024,"[pojem, duch, prof, akt, spravedlnost, filosof...",None,1.0
778,F22N0060P,pdf,Mon Apr 22 09:50:28 2024,[cessarit],None,2.0
871,F22N0060P,http,Wed Mar 27 15:18:47 2024,http2,None,3.0
889,F22N0060P,site,Fri Mar 15 18:09:44 2024,darkgreen,None,1.0

In [294]:
def clean_user(user):
    try:
        return re.search("F\d+\w\d+[PK]?", user.replace("O", "0"), re.IGNORECASE).group()
    except: 
        print(user)
data_df["osCislo"] = data_df["user"].apply(clean_user)
data_df.head(5)

F1HUMBP2
FB21B0035K-FF
F1HUMBP2
val1 or val2
test
test
F1HUMBP1
test
test
test
test
test
F1HUMBP1
22B0030K
test
test
F1HUMBP1
F1HUM BP2
test
test
F23
dsdss
test
test
F1HUMBP2
LIST - uspořádaný seznam prvků DICTIONARY (dict) - neuspořádaný seznam párů prvků
F1HUMBP2
test
test
pepík
test
F1HUMBP2
test
100335092
test
test
test
test
test
test
F1HUMBP2
test
test
test
test
test
F1HUMBP2
FB23B0044K
test
test
test
test
test
F1HUMBP2
test

,user,ntb,time,arg1,arg2,n,osCislo
0,F23B0204P,http,Mon Apr 29 13:01:55 2024,https://www.phil.muni.cz/fil/scf/komplet/machj...,None,1.0,F23B0204P
1,F22N0060P,site,Sat Mar 16 10:07:37 2024,site2,None,2.0,F22N0060P
2,F21B0040K,http,Sat Mar 23 14:20:06 2024,http2,None,2.0,F21B0040K
3,F23B0280P,pdf,Mon Apr 22 14:23:21 2024,2,None,2.0,F23B0280P
4,F23B0300P,site,Mon Mar 25 15:01:03 2024,site2,None,2.0,F23B0300P

In [295]:
KDDHB_students = pd.read_csv("../data/KDDHB_students.csv", sep=";", encoding='cp1250')
KDDHB_students = dict(zip(KDDHB_students["osCislo"], KDDHB_students["prijmeni"]))
KDDHB_students

{'F22B0199P': 'BOHÁČKOVÁ',
 'F21B0005K': 'BOŠKOVÁ',
 'F22B0118P': 'BUCHEŇOVÁ',
 'F22B0201P': 'COUFALOVÁ',
 'F21B0164P': 'DĚDEČKOVÁ',
 'F22B0211P': 'GRUNDFESTOVÁ',
 'F22B0030K': 'HAVELOVÁ',
 'F21B0035K': 'HLAVÍNOVÁ',
 'F21B0022K': 'KELLNEROVÁ',
 'F21B0028K': 'KUBEŠOVÁ',
 'F22B0185P': 'KUBINCOVÁ',
 'F22B0235P': 'LAPKA',
 'F22B0198P': 'LE',
 'F21B0033K': 'NOVÁ',
 'F20B0539P': 'NOVÁK',
 'F22B0248P': 'PÁNKOVÁ',
 'F21B0040K': 'REMEŠOVÁ',
 'F22B0267P': 'ŠKAMPOVÁ',
 'F22B0273P': 'ŠLEFR',
 'F21B0051K': 'VOLOPICH',
 'F21B0206P': 'WISLOCKÁ'}

In [296]:
UDHB_students = pd.read_csv("../data/UDHB_students.csv", sep=";", encoding='cp1250')
UDHB_students = UDHB_students[UDHB_students["stav"]=="S"]
len(UDHB_students)

124

In [297]:
UDHB_students = dict(zip(UDHB_students["osCislo"], UDHB_students["prijmeni"]))
UDHB_students

{'F23B0250P': 'AKRMAN',
 'F23B0197P': 'BAŽANTOVÁ',
 'F23B0198P': 'BEČVÁŘOVÁ',
 'F23B0019K': 'BELANOVÁ',
 'F23B0199P': 'BERAN',
 'F23B0071K': 'BIELIK',
 'F23B0200P': 'BLÁHOVÁ',
 'F23B0044K': 'BLAŽENKOVÁ',
 'F23B0204P': 'BRADOVÁ',
 'F23B0206P': 'BUBNOVÁ',
 'F23B0302P': 'BUDNIKOV',
 'F23B0024K': 'ČEJKOVÁ',
 'F23B0062P': 'ČERVENKOVÁ',
 'F23B0210P': 'ČEŘOVSKÁ',
 'F23B0212P': 'DOKTOROVÁ',
 'F23B0060K': 'DORICOVÁ',
 'F23B0215P': 'DRESSLEROVÁ',
 'F23B0216P': 'DRNKOVÁ',
 'F23B0253P': 'DROZDOVÁ',
 'F23B0254P': 'DUSILOVÁ',
 'F23B0218P': 'FALDYNOVÁ',
 'F22B0133P': 'FILIPSKA',
 'F23B0219P': 'FOUSOVÁ',
 'F23B0260P': 'FRIŠOVÁ',
 'F23B0220P': 'FRIŠOVÁ',
 'F23B0261P': 'GABRIELOVÁ',
 'F23B0027K': 'GEYEROVÁ',
 'F23B0262P': 'GLACOVÁ',
 'F23B0061K': 'GONOSOVÁ',
 'F23B0263P': 'HAAG',
 'F23B0264P': 'HACKROVÁ',
 'F23B0224P': 'HANČINOVÁ',
 'F23B0266P': 'HANELOVÁ',
 'F23B0031K': 'HUDEC',
 'F23B0233P': 'HŮLOVÁ',
 'F23B0235P': 'CHVOJKA',
 'F23B0033K': 'JANOUCHOVÁ',
 'F23B0275P': 'KAHRAMAN',
 'F23B0238P': 'KALINOVÁ',
 'F23B0276P': 'KALSER',
 'F23B0064K': 'KARAJOŠOVÁ',
 'F23B0277P': 'KARGER',
 'F23B0035K': 'KITTLEROVÁ',
 'F23B0241P': 'KOUBOVÁ',
 'F23B0242P': 'KOVANDOVÁ',
 'F23B0243P': 'KRÁLOVÁ',
 'F23B0065K': 'KRČKOVÁ',
 'F23B0246P': 'KRIEGER',
 'F23B0036K': 'KRUTINOVÁ',
 'F23B0247P': 'KŠÍROVÁ',
 'F23B0251P': 'KUZMYCH',
 'F23B0037K': 'KUZNIETSOVA',
 'F23B0038K': 'KVĚTOŇOVÁ',
 'F23B0290P': 'LANGOVÁ',
 'F23B0039K': 'LÍPOVÁ',
 'F23B0068K': 'MAHÁKOVÁ',
 'F23B0255P': 'MALINA',
 'F23B0297P': 'MAŠKOVÁ',
 'F23B0257P': 'MATĚJKA',
 'F23B0042K': 'MATERNOVÁ',
 'F23B0307P': 'MAYEROVÁ',
 'F23B0258P': 'MEDVEC',
 'F23B0315P': 'MLČÁKOVÁ',
 'F23B0316P': 'MOCOVÁ',
 'F23B0319P': 'MOLNÁROVÁ',
 'F23B0322P': 'ODVÁRKA',
 'F23B0323P': 'PAIDAROVÁ',
 'F23B0324P': 'PATKOVÁ',
 'F23B0055P': 'PAVLOVÁ',
 'F23B0326P': 'PECUŠOVÁ',
 'F23B0265P': 'POLÁK',
 'F23B0043K': 'POTOCKÝ',
 'F23B0267P': 'PRAJZLEROVÁ',
 'F23B0072K': 'PROCHÁZKA',
 'F23B0334P': 'PRYSTAJOVYCH',
 'F23B0073K': 'PUCHROVÁ',
 'F23B0074K': 'PUSTOVYI',
 'F23B0045K': 'RAKAŠOVÁ',
 'F23B0269P': 'RATAJOVÁ',
 'F23B0046K': 'ROUS',
 'F23B0272P': 'RŮČKOVÁ',
 'F23B0049K': 'RYSOVÁ',
 'F23B0335P': 'ŘANDOVÁ',
 'F23B0348P': 'SMILENOV',
 'F23B0349P': 'SMOLÍKOVÁ',
 'F23B0357P': 'SMUTNÁ',
 'F23B0358P': 'STANĚK',
 'F23B0360P': 'STANĚK',
 'F23B0051K': 'STRAKOVÁ GERHARTOVÁ',
 'F23B0278P': 'STUDNIČKOVÁ',
 'F23B0052K': 'SÜSSMILCHOVÁ',
 'F23B0279P': 'SVATKOVÁ',
 'F23B0053K': 'SVOBODOVÁ',
 'F23B0280P': 'SÝKORA',
 'F23B0362P': 'ŠIC',
 'F23B0283P': 'ŠIMONOVÁ',
 'F23B0054K': 'ŠIMONOVSKÝ',
 'F23B0082K': 'ŠINDELÁŘOVÁ',
 'F23B0363P': 'ŠKACHOVÁ',
 'F23B0055K': 'ŠLAJSOVÁ',
 'F23B0286P': 'ŠOBROVÁ',
 'F23B0366P': 'ŠORALOVÁ',
 'F23B0287P': 'ŠPAČKOVÁ',
 'F23B0367P': 'ŠPIMROVÁ',
 'F23B0369P': 'ŠTRUNC',
 'F23B0371P': 'ŠTÝS',
 'F23B0288P': 'ŠVESTÁKOVÁ',
 'F23B0289P': 'TARABOVÁ',
 'F23B0084K': 'TEICHMANNOVÁ',
 'F23B0096P': 'TOMAN',
 'F23B0295P': 'VALTA',
 'F23B0057K': 'VANĚK',
 'F23B0298P': 'VAŠATOVÁ',
 'F23B0336P': 'VENTUROVÁ',
 'F23B0372P': 'VÍTŮ',
 'F23B0300P': 'VOKOUNOVÁ',
 'F23B0376P': 'VOLDŘICHOVÁ',
 'F23B0301P': 'WINNOVÁ',
 'F23B0303P': 'ZAJÍCOVÁ',
 'F23B0304P': 'ZEDÍNKOVÁ',
 'F23B0377P': 'ZELENKOVÁ',
 'F23B0305P': 'ZEMANOVÁ',
 'F23B0381P': 'ZEMENOVÁ',
 'F23B0384P': 'ZEZULOVÁ'}

In [298]:
data_df["kddhb_students"] = data_df["osCislo"].apply(lambda x: KDDHB_students[x] if x in KDDHB_students.keys() else None)

In [299]:
data_df["udhb_students"] = data_df["osCislo"].apply(lambda x: UDHB_students[x] if x in UDHB_students.keys() else None)

In [300]:
data_df[(data_df["udhb_students"].notnull()) & (data_df["ntb"]=="nlp")]

,user,ntb,time,arg1,arg2,n,osCislo,kddhb_students,udhb_students
14,F23B0324P,nlp,Mon Apr 8 11:59:53 2024,"[práce, člověk, příroda, mít, Marx, dějiny, po...",None,1.0,F23B0324P,None,PATKOVÁ
18,F23B0349P,nlp,Mon Apr 15 08:28:32 2024,https://archiv.janpatocka.cz/items/show/2671,None,1.0,F23B0349P,None,SMOLÍKOVÁ
37,F23B0287P,nlp,Mon Apr 8 13:53:13 2024,"[čas, časový, mít, minulost, přítomnost, moci,...",None,2.0,F23B0287P,None,ŠPAČKOVÁ
40,F23B0031K,nlp,Sat Mar 23 13:32:11 2024,"[fragment, mít, Logos, věc, říkat, Hérakleitos...",None,2.0,F23B0031K,None,HUDEC
57,F23B0300P,nlp,Mon Apr 8 13:11:30 2024,https://archiv.janpatocka.cz/items/show/2674,None,1.0,F23B0300P,None,VOKOUNOVÁ
...,...,...,...,...,...,...,...,...,...
1045,F23B0216P,nlp,Mon Apr 8 11:22:24 2024,https://archiv.janpatocka.cz/items/show/2667,None,1.0,F23B0216P,None,DRNKOVÁ
1067,F23B0298P,nlp,Mon Apr 8 13:11:46 2024,https://archiv.janpatocka.cz/items/show/2668,None,1.0,F23B0298P,None,VAŠATOVÁ
1103,F23B0334P,nlp,Mon Apr 8 13:48:21 2024,"[bytí, věc, dem, vzájemnost, kosmos, φύσις, πό...",None,2.0,F23B0334P,None,PRYSTAJOVYCH
1130,F23B0233P,nlp,Fri Apr 26 10:45:01 2024,https://archiv.janpatocka.cz/items/show/308,None,1.0,F23B0233P,None,HŮLOVÁ
1135,F23B0053K,nlp,Sat Apr 20 09:16:05 2024,https://archiv.janpatocka.cz/items/show/2668,None,2.0,F23B0053K,None,SVOBODOVÁ

In [301]:
len(data_df["user"].unique().tolist())

170

In [302]:
data_df[(data_df["udhb_students"].notnull()) & (data_df["user"].str.contains("K"))].groupby("ntb").size()

ntb
api        4
gis       49
http      34
nlp       30
pdf       24
python     8
site      17
dtype: int64

In [303]:
data_df[(data_df["kddhb_students"].notnull()) & (data_df["user"].str.contains("K"))].groupby("ntb").size()

ntb
api       10
gis        3
http      13
nlp       10
pdf        8
python     5
tei       14
dtype: int64

In [304]:
data_df[(data_df["kddhb_students"].notnull())]

,user,ntb,time,arg1,arg2,n,osCislo,kddhb_students,udhb_students
2,F21B0040K,http,Sat Mar 23 14:20:06 2024,http2,None,2.0,F21B0040K,REMEŠOVÁ,None
15,F21B0206P,python,Tue Feb 27 13:51:21 2024,1920,None,3.0,F21B0206P,WISLOCKÁ,None
20,F22B0118P,gis,Tue Mar 26 13:04:57 2024,kontrola2,None,2.0,F22B0118P,BUCHEŇOVÁ,None
24,F22B0273P,tei,Tue Mar 12 22:11:33 2024,https://raw.githubusercontent.com/PerseusDL/ca...,None,2.0,F22B0273P,ŠLEFR,None
30,F22B0118P,site,Tue Mar 26 13:40:52 2024,darkgreen,None,1.0,F22B0118P,BUCHEŇOVÁ,None
...,...,...,...,...,...,...,...,...,...
1116,F21B0022K,pdf,Fri May 3 17:59:21 2024,"[hmotný, jiný, zájem, jiný, doufání, dít, hran...",None,2.0,F21B0022K,KELLNEROVÁ,None
1117,F21B0028K,tei,Sat Mar 23 15:58:16 2024,https://raw.githubusercontent.com/PerseusDL/ca...,None,2.0,F21B0028K,KUBEŠOVÁ,None
1118,F21B0040K,http,Sat Mar 23 14:03:15 2024,https://www.phil.muni.cz/fil/scf/komplet/machj...,None,1.0,F21B0040K,REMEŠOVÁ,None
1120,F22B0235P,http,Tue Mar 5 13:31:54 2024,https://www.phil.muni.cz/fil/scf/komplet/kalnd...,None,1.0,F22B0235P,LAPKA,None
1138,F22B0198P,api,Tue Mar 12 12:53:18 2024,provinz=ges&offset=6820,None,2.0,F22B0198P,LE,None

In [305]:
table = data_df[data_df["kddhb_students"].notnull()].groupby(["kddhb_students", "ntb"]).size().unstack(fill_value=0)
table = table.clip(upper=2)

In [306]:
#kddhb_povinne = ["http", "api", "tei", "nlp", "pdf"]

In [307]:
table.sum()

ntb
api       26
gis       24
http      35
nlp       27
pdf       10
python    26
site      20
tei       32
dtype: int64

In [308]:
table["sum"] = table.sum(axis=1)

In [309]:
KDDHB_students_inverted = {value: key for key, value in KDDHB_students.items()}
KDDHB_students_inverted

{'BOHÁČKOVÁ': 'F22B0199P',
 'BOŠKOVÁ': 'F21B0005K',
 'BUCHEŇOVÁ': 'F22B0118P',
 'COUFALOVÁ': 'F22B0201P',
 'DĚDEČKOVÁ': 'F21B0164P',
 'GRUNDFESTOVÁ': 'F22B0211P',
 'HAVELOVÁ': 'F22B0030K',
 'HLAVÍNOVÁ': 'F21B0035K',
 'KELLNEROVÁ': 'F21B0022K',
 'KUBEŠOVÁ': 'F21B0028K',
 'KUBINCOVÁ': 'F22B0185P',
 'LAPKA': 'F22B0235P',
 'LE': 'F22B0198P',
 'NOVÁ': 'F21B0033K',
 'NOVÁK': 'F20B0539P',
 'PÁNKOVÁ': 'F22B0248P',
 'REMEŠOVÁ': 'F21B0040K',
 'ŠKAMPOVÁ': 'F22B0267P',
 'ŠLEFR': 'F22B0273P',
 'VOLOPICH': 'F21B0051K',
 'WISLOCKÁ': 'F21B0206P'}

In [310]:
table = table.reset_index()
table

ntb kddhb_students  api  gis  http  nlp  pdf  python  site  tei  sum
0        BOHÁČKOVÁ    2    2     2    2    0       2     2    2   14
1          BOŠKOVÁ    2    0     2    2    2       0     0    2   10
2        BUCHEŇOVÁ    2    2     2    2    0       2     2    2   14
3        COUFALOVÁ    2    2     2    2    0       2     0    2   12
4        DĚDEČKOVÁ    0    0     2    0    0       0     2    0    4
5     GRUNDFESTOVÁ    2    2     2    2    0       2     2    2   14
6         HAVELOVÁ    0    2     2    2    2       2     0    2   12
7        HLAVÍNOVÁ    0    0     1    0    0       0     0    2    3
8       KELLNEROVÁ    2    0     2    2    2       2     0    2   12
9         KUBEŠOVÁ    2    0     2    0    0       0     0    2    6
10       KUBINCOVÁ    0    2     2    2    2       2     2    0   12
11           LAPKA    0    0     2    0    0       2     0    0    4
12              LE    2    2     0    0    0       2     2    2   10
13            NOVÁ    2    0     2    1    0       0     0    2    7
14           NOVÁK    2    2     2    2    0       2     2    2   14
15         PÁNKOVÁ    0    2     2    2    0       2     2    2   12
16        REMEŠOVÁ    2    0     2    2    2       0     0    2   10
17        WISLOCKÁ    2    2     2    2    0       2     2    2   14
18        ŠKAMPOVÁ    0    2     0    0    0       2     2    0    6
19           ŠLEFR    2    2     2    2    0       0     0    2   10

In [311]:
table["osCislo"] = table["kddhb_students"].apply(lambda x: KDDHB_students_inverted[x])
table.drop(columns=["kddhb_students"], inplace=True)
table.set_index("osCislo", inplace=True)
table

ntb        api  gis  http  nlp  pdf  python  site  tei  sum
osCislo
F22B0199P    2    2     2    2    0       2     2    2   14
F21B0005K    2    0     2    2    2       0     0    2   10
F22B0118P    2    2     2    2    0       2     2    2   14
F22B0201P    2    2     2    2    0       2     0    2   12
F21B0164P    0    0     2    0    0       0     2    0    4
F22B0211P    2    2     2    2    0       2     2    2   14
F22B0030K    0    2     2    2    2       2     0    2   12
F21B0035K    0    0     1    0    0       0     0    2    3
F21B0022K    2    0     2    2    2       2     0    2   12
F21B0028K    2    0     2    0    0       0     0    2    6
F22B0185P    0    2     2    2    2       2     2    0   12
F22B0235P    0    0     2    0    0       2     0    0    4
F22B0198P    2    2     0    0    0       2     2    2   10
F21B0033K    2    0     2    1    0       0     0    2    7
F20B0539P    2    2     2    2    0       2     2    2   14
F22B0248P    0    2     2    2    0       2     2    2   12
F21B0040K    2    0     2    2    2       0     0    2   10
F21B0206P    2    2     2    2    0       2     2    2   14
F22B0267P    0    2     0    0    0       2     2    0    6
F22B0273P    2    2     2    2    0       0     0    2   10

In [312]:
table.to_csv("../data/kddhb_plneni.csv")

# UDHB

In [313]:
UDHB_students_inverted = {value: key for key, value in UDHB_students.items()}

In [314]:
table = data_df[data_df["udhb_students"].notnull()].groupby(["udhb_students", "ntb"]).size().unstack(fill_value=0)
table = table.clip(upper=2)

In [315]:
table = table.reset_index()
table

ntb udhb_students  abm  api  gis  http  nlp  pdf  python  regex  site  tei
0          AKRMAN    2    0    2     0    2    2       2      2     2    0
1       BAŽANTOVÁ    2    0    0     0    0    0       1      2     2    0
2        BELANOVÁ    0    0    2     2    2    2       0      0     2    0
3       BEČVÁŘOVÁ    1    0    2     0    1    2       2      2     2    0
4      BLAŽENKOVÁ    0    0    2     1    0    0       2      0     2    0
..            ...  ...  ...  ...   ...  ...  ...     ...    ...   ...  ...
70    ŠINDELÁŘOVÁ    0    0    2     2    2    2       0      0     0    0
71       ŠPAČKOVÁ    2    0    2     2    2    2       2      2     2    0
72         ŠTRUNC    0    0    2     2    2    0       2      0     2    2
73           ŠTÝS    0    0    0     0    0    0       1      0     0    0
74     ŠVESTÁKOVÁ    0    0    2     2    0    0       1      2     1    0

[75 rows x 11 columns]

In [316]:
table["osCislo"] = table["udhb_students"].apply(lambda x: UDHB_students_inverted[x])
table.drop(columns=["udhb_students"], inplace=True)
table.set_index("osCislo", inplace=True)
table

ntb        abm  api  gis  http  nlp  pdf  python  regex  site  tei
osCislo
F23B0250P    2    0    2     0    2    2       2      2     2    0
F23B0197P    2    0    0     0    0    0       1      2     2    0
F23B0019K    0    0    2     2    2    2       0      0     2    0
F23B0198P    1    0    2     0    1    2       2      2     2    0
F23B0044K    0    0    2     1    0    0       2      0     2    0
...        ...  ...  ...   ...  ...  ...     ...    ...   ...  ...
F23B0082K    0    0    2     2    2    2       0      0     0    0
F23B0287P    2    0    2     2    2    2       2      2     2    0
F23B0369P    0    0    2     2    2    0       2      0     2    2
F23B0371P    0    0    0     0    0    0       1      0     0    0
F23B0288P    0    0    2     2    0    0       1      2     1    0

[75 rows x 10 columns]

In [317]:
len(table)

75

In [318]:
udhb_povinne = ["site", "gis", "http", "nlp", "pdf"]
table = table[udhb_povinne]
table

ntb        site  gis  http  nlp  pdf
osCislo
F23B0250P     2    2     0    2    2
F23B0197P     2    0     0    0    0
F23B0019K     2    2     2    2    2
F23B0198P     2    2     0    1    2
F23B0044K     2    2     1    0    0
...         ...  ...   ...  ...  ...
F23B0082K     0    2     2    2    2
F23B0287P     2    2     2    2    2
F23B0369P     2    2     2    2    0
F23B0371P     0    0     0    0    0
F23B0288P     1    2     2    0    0

[75 rows x 5 columns]

In [319]:
table.sum(axis=1)

osCislo
F23B0250P     8
F23B0197P     2
F23B0019K    10
F23B0198P     7
F23B0044K     5
             ..
F23B0082K     8
F23B0287P    10
F23B0369P     8
F23B0371P     0
F23B0288P     5
Length: 75, dtype: int64

In [320]:
table["sum"] = table.sum(axis=1)
(table["sum"] >= 8).sum()

/var/folders/57/tg7c_g894t5c2z3swkqzds5h0000gn/T/ipykernel_16046/3765307933.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  table["sum"] = table.sum(axis=1)

41

In [321]:
table = table.sort_index()

In [322]:
table.to_csv("../data/udhb_povinne.csv")

In [323]:
table.sort_values(by="sum", ascending=False)

ntb        site  gis  http  nlp  pdf  sum
osCislo
F23B0073K     2    2     2    2    2   10
F23B0303P     2    2     2    2    2   10
F23B0300P     2    2     2    2    2   10
F23B0062P     2    2     2    2    2   10
F23B0295P     2    2     2    2    2   10
...         ...  ...   ...  ...  ...  ...
F23B0064K     0    1     0    0    0    1
F23B0096P     0    0     0    0    0    0
F23B0360P     0    0     0    0    0    0
F23B0316P     0    0     0    0    0    0
F23B0371P     0    0     0    0    0    0

[75 rows x 6 columns]